



$primary: #07185C; //#07185C_brand color
$secondary: #00BFF2; //#00BFF2_brand color
$tertiary: #EB008B; //#EB008B_brand color

$white: #ffffff;
$black: #000000;

$bg-blue: #001156; //#001156-bk
$darkblue: #556190; //#556190
$btn-white: #F6F6F6;//#F6F6F6 btn
$bg-light-gray: #F3F7FD; //#F3F7FD-bk
$line-bk-gray: #EFEFEF; //#EFEFEF-line-bk
$blue300: #96E3FF; //#96E3FF
$blue400: #3EB3FF; //3EB3FF 先輩の声
$staffvoicebg: #F9F9F9; //F9F9F9 先輩の声_BK
$alert-color: red;

$font-noto-sans: 'Noto Sans JP', sans-serif;

$spacer-0: 0;
$spacer-min: 5px;
$spacer-1: 10px;
$spacer-2: 20px;
$spacer-3: 30px;
$spacer-4: 40px;
$spacer-5: 50px;
$spacer-6: 60px;
$spacer-7: 70px;
$spacer-8: 80px;
$spacer-9: 90px;
$spacer-10: 100px;

$desktop-breakpoint-xl: 1200px;
$desktop-breakpoint-lg: 992px;
$desktop-breakpoint-md: 768px;
$desktop-breakpoint-sm: 544px;
$desktop-breakpoint-xs: 376px;

$xs: 100px;
$sm: 150px;
$md: 180px;
$lg: lg;
$xl: xl;

$input-size-sm: 100px;
$input-size-md: 150px;
$input-size-lg: 450px;
$input-size-xl: 1000px;
$input-size-full: 100%;