# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

# WP不要ファイル
app/public/wp-admin/
app/public/wp-includes/
app/public/wp-content/languages
app/public/wp-content/plugins
app/public/wp-content/uploads
app/public/wp-content/ai1wm-backups
app/public/wp-content/ewww
app/public/wp-content/siteguard
app/public/wp-content/index.php
app/public/wp-content/upgrade
app/public/wp-content/themes/index.php
app/public/wp-content/themes/twentytwentyfive

#ルート不要ファイル
app/public/.htaccess
app/public/index.php
app/public/php.ini
app/public/readme.html
app/public/wp-activate.php
app/public/wp-blog-header.php
app/public/wp-comments-post.php
app/public/wp-config-sample.php
app/public/wp-config.php
app/public/wp-links-opml.php
app/public/wp-load.php
app/public/wp-login.php
app/public/wp-mail.php
app/public/wp-settings.php
app/public/wp-signup.php
app/public/wp-trackback.php
app/public/xmlrpc.php
app/public/local-xdebuginfo.php
app/public/wp-cron.php
app/public/license.txt

logs/
conf/

