@charset "UTF-8";
/*******contact*******/

#contact {
	margin:0;
	padding:100px 50px 80px;
	@media print, screen and (max-width: 959px) {
		padding:70px 50px 80px;
	}
	@media print, screen and (max-width: 767px) {
		padding:50px 30px 60px;
	}

	.contact_form {
		margin:0 auto 70px;
		padding:0;
		max-width:750px;

		.error {
			position:absolute;
			left:0;
			display:flex;
			align-items:center;
			justify-content:center;
			padding:0 10px;
			height:20px;
			background:#f87575;
			color:#ffffff;
			font-weight:400;
			font-size:12px;
			line-height:1;
		}
		.contact_form__read {
			position:relative;
			display:none;
			margin:0 0 10px;
			padding:0;
			text-align:center;
			font-weight:700;
			font-size:16px;
			@media print, screen and (max-width: 767px) {
				text-align:justify;
				font-size:15px;
				br {
					display:none;
				}
			}
		}


		.contact_form__line {
			margin:0 0 30px;
			padding:0;
			.contact_form__item {
				position:relative;
				margin:0 0 10px;
				padding:0 0 0 13px;
				font-weight:700;
				font-size:18px;
				@media print, screen and (max-width: 767px) {
					padding:0;
					font-size:15px;
				}
				.required {
					color:#ff0000;
				}
				.attention {
					position:absolute;
					right:0;
					color:#ff0000;
					font-size:16px;
					@media print, screen and (max-width: 767px) {
						font-size:13px;
					}
				}
				.en {
					padding:0 0 0 16px;
					letter-spacing:1px;
					font-weight:700;
					font-size:16px;
					font-family:"Barlow", sans-serif;
					@media print, screen and (max-width: 767px) {
						padding:0 0 0 4px;
						font-size:13px;
					}
				}
				.note {
					padding:0 0 0 16px;
					font-weight:700;
					font-size:10px;
					@media print, screen and (max-width: 767px) {
						display:block;
						padding:0;
					}
				}
			}
			.contact_form__input {
				position:relative;
				margin:0;
				padding:0;
				line-height:0;
				.error {
					bottom:-10px;
				}
				.contact_form__radio {
					position:relative;
					display:flex;
					align-items:center;
					flex-wrap:wrap;
					justify-content:space-evenly;
					@media print, screen and (max-width: 767px) {
						display:block;
					}
					.error {
						top:0;
						bottom:inherit;
					}
					label {
						line-height:1;
						@media print, screen and (max-width: 767px) {
							display:block;
							padding:0 0 22px;
						}
						input[type="radio"] {
							display:none;

							+ span {
								position:relative;
								display:inline-block;
								padding:0 0 0 35px;
								font-weight:600;
								&::before {
									position:absolute;
									top:0;
									left:0;
									margin:0;
									width:22px;
									height:22px;
									background-color:#f5f5f2;
									content:"";
								}
							}
							&:checked + span {
								&:before {
									background-color:$primary;
								}
								&:after {
									position:absolute;
									top:8px;
									left:8px;
									z-index:2;
									width:6px;
									height:6px;
									background-color:#f5f5f2;
									content:"";
								}
							}
						}
					}
				}
				.contact_form__check {
					position:relative;
					display:flex;
					align-items:center;
					flex-wrap:wrap;
					justify-content:left;
					@media print, screen and (max-width: 767px) {
						display:block;
						padding:10px 0 0;
					}
					.error {
						top:0;
						bottom:inherit;
					}
					label {
						display:inline-flex;
						align-items:center;
						justify-content:flex-start;
						padding:15px 24px 15px 0;
						font-size:20px;
						line-height:1;
						@media print, screen and (max-width: 767px) {
							display:block;
							padding:0 0 22px;
							font-size:15px;
						}

						input[type="checkbox"] {
							display:none;

							+ span {
								position:relative;
								display:inline-block;
								padding:0 0 0 35px;
								font-weight:600;
								&::before {
									position:absolute;
									top:0;
									left:0;
									margin:0;
									width:22px;
									height:22px;
									background-color:#f5f5f2;
									content:"";
								}
							}
							&:checked + span {
								&:before {
									background-color:$primary;
								}
								&:after {
									position:absolute;
									top:5px;
									left:5px;
									z-index:2;
									width:12px;
									height:12px;
									background-image:url(../img/common/check.svg);
									background-position:50% 50%;
									background-repeat:no-repeat;
									content:"";
								}
							}
						}
					}
				}
			}
		}

		.contact_form__checkbox {
			margin:0 ;
			padding:0;
			font-weight:600;
			.contact_form__line {
				.contact_form__item {
					padding:0;
				}

				.contact_form__input {
					padding:30px 0;
					font-weight:700;
					font-size:20px;
					@media print, screen and (max-width: 767px) {
						padding:10px 0 0;
						font-size:15px;
					}


					.contact_form__check_box {
						display:flex;
						align-items:center;
						flex-wrap:wrap;
						justify-content:space-between;
						margin:0 -24px;
						@media print, screen and (max-width: 767px) {
							display:block;
							margin:0;
						}
						label {
							display:inline-block;
							padding:15px 24px;
							line-height:1;
							@media print, screen and (max-width: 767px) {
								display:block;
								padding:0 0 22px;
							}

							input[type="checkbox"] {
								display:none;

								+ span {
									position:relative;
									display:inline-block;
									padding:0 0 0 35px;
									font-weight:600;
									&::before {
										position:absolute;
										top:0;
										left:0;
										margin:0;
										width:22px;
										height:22px;
										background-color:#f5f5f2;
										content:"";
									}
								}
								&:checked + span {
									&:before {
										background-color:$primary;
									}
									&:after {
										position:absolute;
										top:5px;
										left:5px;
										z-index:2;
										width:12px;
										height:12px;
										background-image:url(../img/common/check.svg);
										background-position:50% 50%;
										background-repeat:no-repeat;
										content:"";
									}
								}
							}
						}
						.horizontal-item {
							@media print, screen and (max-width: 1024px) {
								margin-left:0;
							}
						}
					}
				}
			}
		}
		.contact_form__privacy {
			position:relative;
			display:flex;
			align-items:center;
			justify-content:center;
			margin:0 0 37px;
			font-weight:600;
			font-size:20px;
			.error {
				bottom:-15px;
				left:50%;
				transform:translate(-50%,0);
			}

			label {
				display:inline-block;
				padding:15px 24px;
				line-height:1;
				@media print, screen and (max-width: 767px) {
					display:block;
					padding:0;
					font-size:15px;
					line-height:1.4em;
				}
				input[type="checkbox"] {
					display:none;

					+ span {
						position:relative;
						display:inline-block;
						padding:0 0 8px 35px;
						background:linear-gradient(transparent 97%, #d6dcbb 0%);
						font-weight:600;
						&::before {
							position:absolute;
							top:0;
							left:0;
							margin:0;
							width:22px;
							height:22px;
							background-color:#f5f5f2;
							content:"";
						}
					}
					&:checked + span {
						&:before {
							background-color:$primary;
						}
						&:after {
							position:absolute;
							top:5px;
							left:5px;
							z-index:2;
							width:12px;
							height:12px;
							background-image:url(../img/common/check.svg);
							background-position:50% 50%;
							background-repeat:no-repeat;
							content:"";
						}
					}
				}
			}
		}
		.contact_form__submit {
			margin:0;
			padding:0;
			text-align:center;
			input[type=submit] {
				display:flex;
				align-items:center;
				justify-content:center;
				margin:0 auto;
				padding:0;
				max-width:660px;
				width:100%;
				height:62px;
				outline:0;
				border:none;
				border-radius:0;
				background-color:$primary;
				color:#ffffff;
				text-decoration:none;
				letter-spacing:0.1em;
				font-weight:600;
				font-size:20px;
				font-family:YakuHanJP, dnp-shuei-gothic-kin-std, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;

				-webkit-appearance:none;
				@media print, screen and (max-width: 767px) {
					height:50px;
					font-size:15px;
				}
			}
			.backBtn {
				display:inline-block;
				margin:0;
				padding:0;
				width:200px;
				height:62px;
				outline:0;
				border:none;
				border-radius:0;
				background-color:#898989;
				color:#ffffff;
				text-align:center;
				text-decoration:none;
				letter-spacing:0.1em;
				font-weight:600;
				font-size:20px;
				font-family:YakuHanJP, dnp-shuei-gothic-kin-std, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;

				-webkit-appearance:none;
				@media print, screen and (max-width: 767px) {
					margin:0 0 10px;
					width:100%;
					height:50px;
					font-size:15px;
				}
			}

			.sendBtn {
				display:inline-block;
				margin:0;
				padding:0;
				width:300px;
				height:62px;
				outline:0;
				border:none;
				border-radius:0;
				background-color:$primary;
				color:#ffffff;
				text-align:center;
				text-decoration:none;
				letter-spacing:0.1em;
				font-weight:600;
				font-size:20px;
				font-family:YakuHanJP, dnp-shuei-gothic-kin-std, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;

				-webkit-appearance:none;
				@media print, screen and (max-width: 767px) {
					width:100%;
					height:50px;
					font-size:15px;
				}
			}
		}
	}

	.mw_wp_form_confirm {
		margin:0;
		.contact_form {
			.contact_form__read {
				display:block;
				margin:0 0 60px;
				@media print, screen and (max-width: 767px) {
					margin:0 0 40px;
				}
			}

			.contact_form__line {
				.contact_form__item {
					padding:0 0 0 13px;
					font-size:16px;
					&::before {
						content:"■ ";
					}
					@media print, screen and (max-width: 767px) {
						padding:0;
						font-size:13px;
					}
					.en {
						padding:0 0 0 5px;
						letter-spacing:normal;
						font-size:13px;
						@media print, screen and (max-width: 767px) {
							font-size:11px;
						}
					}
					.attention {
						display:none;
					}
				}
				.contact_form__input {
					padding:0 0 20px 13px;
					min-height:26px;
					border-bottom:#e1e1df solid 1px;
					font-weight:500;
					font-size:17px;
					line-height:1.6em;
					@media print, screen and (max-width: 767px) {
						padding:0 0 20px;
						font-size:15px;
					}
					.contact_form__radio {
						display:block;
						text-align:left;
						font-weight:500;
						font-size:17px;
						@media print, screen and (max-width: 767px) {
							font-size:15px;
						}
					}
					.contact_form__check_box {
						display:block;
						margin:0!important;
						text-align:left;
						font-weight:500;
						font-size:17px;
						@media print, screen and (max-width: 767px) {
							font-size:15px;
						}
					}
				}
			}
			.contact_form__checkbox {
				.contact_form__line .contact_form__item {
					padding:0 0 0 13px;
					font-size:16px;
					@media print, screen and (max-width: 767px) {
						padding:0;
						font-size:13px;
					}
				}
			}
			.contact_form__privacy {
				display:none;
			}
			.contact_form__submit {
				padding:30px 0 0;
			}
		}
	}

	.contact_tel {
		margin:0;
		padding:0;
		text-align:center;
		.contact_tel__read {
			margin:0 0 14px;
			padding:0;
			color:$primary;
			font-weight:700;
			font-size:20px;
			@media print, screen and (max-width: 767px) {
				font-size:15px;
			}
		}
		dl {
			display:inline-flex;
			align-items:flex-end;
			justify-content:flex-start;
			margin:0;
			padding:0;
			color:$primary;
			font-weight:500;
			font-family:"Roboto", sans-serif;
			line-height:1;
			dt {
				margin:0 20px 6px 0;
				letter-spacing:1px;
				font-weight:700;
				font-size:30px;
				line-height:1;
				@media print, screen and (max-width: 767px) {
					margin:0 11px 4px 0;
					font-size:15px;
					line-height:1;
				}
			}
			dd {
				margin:0;
				padding:0;
				letter-spacing:2px;
				font-weight:500;
				font-size:58px;
				font-family:"Roboto", sans-serif;
				@media print, screen and (max-width: 767px) {
					letter-spacing:1px;
					font-size:36px;
				}
				@media print, screen and (max-width: 374px) {
					letter-spacing:1px;
					font-size:32px;
				}
				a {
					color:$primary;
					letter-spacing:2px;
					pointer-events:none;
					@media print, screen and (max-width: 767px) {
						pointer-events:all;
					}
				}
			}
		}
	}
	.complete {
		margin:0 0 100px;
		text-align:center;
		h3 {
			margin:0 0 33px;
			letter-spacing:0.1em;
			font-weight:600;
			font-size:24px;
			@media print, screen and (max-width: 767px) {
				margin:0 0 25px;
				letter-spacing:normal;
				font-size:20px;
			}
		}
		.read {
			margin:0 0 46px;
			letter-spacing:0.1em;
			font-weight:500;
			font-size:16px;
			@media print, screen and (max-width: 1024px) {
				letter-spacing:normal;
			}
			@media print, screen and (max-width: 767px) {
				text-align:justify;
				font-size:14px;
				br {
					display:none;
				}
			}
		}
		.topback {
			text-align:center;
			a {
				display:flex;
				align-items:center;
				justify-content:center;
				margin:0 auto;
				padding:0;
				width:240px;
				height:50px;
				outline:0;
				border:none;
				border-radius:0;
				background-color:$primary;
				color:#ffffff;
				text-align:center;
				text-decoration:none;
				letter-spacing:0.1em;
				font-weight:600;
				font-size:16px;
				font-family:YakuHanJP, dnp-shuei-gothic-kin-std, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
				@media print, screen and (max-width: 767px) {
					width:180px;
					font-size:15px;
				}
			}
		}
	}
}
