@charset "UTF-8";
/*******top*******/
@mixin hover {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}
}
#information {
	margin:0;
	padding:100px 0 0;
	@media print, screen and (max-width: 959px) {
		padding:70px 0 0;
	}
	@media print, screen and (max-width: 767px) {
		padding:50px 0 0;
	}
	.information_list {
		margin:0;
		padding:0 50px 0;
		@media print, screen and (max-width: 767px) {
			padding:0 30px 20px;
		}
		.information_list__wrap {
			margin:0;
			padding:0;
			ul {
				display:flex;
				align-items:stretch;
				flex-wrap:wrap;
				justify-content:flex-start;
				margin:0 0 60px -34px;
				padding:0;
				@media print, screen and (max-width: 959px) {
					margin:0 0 60px -15px;
				}
				@media print, screen and (max-width: 767px) {
					display:block;
					margin:0 0 50px;
				}
				li {
					box-sizing:border-box;
					margin:0;
					padding:0 0 50px 34px;
					width:25%;
					@media print, screen and (max-width: 959px) {
						padding:0 0 30px 15px;
					}
					@media print, screen and (max-width: 767px) {
						margin:0 0 20px;
						padding:0 0 20px;
						width:auto;
						border-bottom:#7a8060 solid 1px;
						&:last-child {
							margin:0;
							padding:0;
							border-bottom:none;
						}
					}
					.information_list__card {
						position:relative;
						margin:0;
						padding:0;
						@media print, screen and (max-width: 767px) {
							display:flex;
							align-items:flex-start;
							justify-content:flex-start;
						}
						.information_list__link {
							position:absolute;
							top:0;
							right:0;
							bottom:0;
							left:0;
							z-index:2;
							display:block;
						}
						.information_list__thumb {
							margin:0;
							padding:0;
							border:#efefef solid 1px;
							line-height:0;
							img {
								width:100%;
								height:auto;
							}
							@media print, screen and (max-width: 767px) {
								padding:0 20px 0 0;
								width:100px;
								height:auto;
							}
						}
						.index_latest__sp {
							@media print, screen and (max-width: 767px) {
								width:calc(100% - 120px);
							}
							.information_list__caption {
								margin:0;
								padding:20px 0 0;
								letter-spacing:0.1em;
								line-height:1.8em;
								@media print, screen and (max-width: 767px) {
									padding:0;
								}
								p {
									margin:0;
									padding:0;


									&.information_list__title {
										color:#7a805f;
										font-weight:700;
										font-size:16px;
										@media print, screen and (max-width: 1180px) {
											font-size:15px;
										}
										@media print, screen and (max-width: 767px) {
											font-size:14px;
										}
									}
									&.information_list__date {
										letter-spacing:normal;
										font-weight:700;
										font-size:14px;
										@media print, screen and (max-width: 1180px) {
											font-size:13px;
										}
										@media print, screen and (max-width: 767px) {
											font-size:11px;
										}
									}
								}
							}
							.information_list__tags {
								position:relative;
								z-index:5;
								display:flex;
								align-items:flex-start;
								flex-wrap:wrap;
								justify-content:flex-start;
								margin:0;
								padding:0;
								@media print, screen and (max-width: 767px) {
									margin:0 10px 0 0;
									border-bottom:none;
								}
								li {
									margin:10px 10px 0 0;
									padding:0;
									width:auto;
									border-bottom:none;
									line-height:normal;

									a {
										color:#7a805f;
										font-weight:700;
										font-size:14px;
										@media print, screen and (max-width: 1180px) {
											font-size:13px;
										}
										@media print, screen and (max-width: 767px) {
											font-size:12px;
										}
									}
								}
							}
						}
					}
				}
			}
			.index_more {
				margin:40px 0 0 auto;
			}
		}
	}
}