@charset "UTF-8";
/*******top*******/
@mixin hover {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}
}
#post {
	margin:0;
	padding:100px 50px 0;
	letter-spacing:0.1em;
	@media print, screen and (max-width: 959px) {
		padding:70px 50px 0;
	}
	@media print, screen and (max-width: 767px) {
		padding:50px 30px 33px;
		border-bottom:#acb19d solid 1px;
	}
	.post_detail {
		margin:0 auto;
		padding:0;
		max-width:750px;
		.tags {
			display:flex;
			align-items:flex-start;
			flex-wrap:wrap;
			justify-content:flex-start;
			margin:0 0 10px;
			padding:0;
			li {
				margin:0 5px 0 0;
				padding:0;
				a {
					display:flex;
					align-items:center;
					justify-content:center;
					padding:0 10px;
					height:26px;
					background-color:$primary;
					color:#ffffff;
					text-decoration:none;
					letter-spacing:normal;
					font-size:12px;
					line-height:1;
					@media print, screen and (max-width: 767px) {
						padding:0 7px;
						height:22px;
						font-size:10px;
						line-height:1;
					}
				}
			}
		}
		h1.title {
			margin:0;
			padding:0;
			color:$primary;
			letter-spacing:0.1em;
			font-weight:700;
			font-size:28px;
			line-height:1.4em;
			@media print, screen and (max-width: 959px) {
				font-size:24px;
				line-height:1.5em;
			}
			@media print, screen and (max-width: 767px) {
				font-size:20px;
				line-height:1.5em;
			}
		}
		.date {
			margin:20px 0 50px;
			color:#555252;
			letter-spacing:0.1em;
			font-weight:500;
			font-size:20px;
			font-family:"Barlow", sans-serif;
			@media print, screen and (max-width: 959px) {
				margin:12px 0 50px;
				letter-spacing:1px;
				font-size:18px;
			}
			@media print, screen and (max-width: 767px) {
				margin:12px 0 44px;
				letter-spacing:1px;
				font-size:16px;
			}
		}
		.entry {
			margin:0;
			padding:0 0 140px;
			@media print, screen and (max-width: 959px) {
				padding:0 0 80px;
			}
			@media print, screen and (max-width: 767px) {
				padding:0 0 40px;
			}
			.wp-block-image {
				margin:0 0 40px;
				padding:0;
				line-height:0;
				@media print, screen and (max-width: 767px) {
					margin:0 0 30px;
				}
				img {
					display:block;
					margin:0 auto;
					max-width:100%;
					width:100%;
					height:auto;
				}
			}
			.wp-element-caption {
				margin:10px 0 0;
				text-align:center;
				font-weight:500;
				font-size:12px;
				line-height:1.8em;
			}
			p {
				margin:0 0 40px;
				padding:0;
				text-align:justify;
				font-weight:500;
				font-size:15px;
				line-height:2.0em;
				@media print, screen and (max-width: 767px) {
					margin:0 0 30px;
				}
				a {
					color:#545252;
					text-decoration:underline;
				}
			}
			h1 {
				margin:0 0 20px;
				padding:0;
				font-size:26px;
				line-height:1.4em;
				@media print, screen and (max-width: 959px) {
					font-size:24px;
				}
				@media print, screen and (max-width: 767px) {
					font-size:22px;
				}
			}
			h2 {
				margin:0 0 20px;
				padding:0;
				font-size:22px;
				line-height:1.5em;
				@media print, screen and (max-width: 959px) {
					font-size:20px;
				}
				@media print, screen and (max-width: 767px) {
					font-size:18px;
				}
			}

			h3 {
				margin:0 0 20px;
				padding:0;
				font-size:20px;
				line-height:1.6em;
				@media print, screen and (max-width: 959px) {
					font-size:18px;
				}
				@media print, screen and (max-width: 767px) {
					font-size:16px;
				}
			}

			h4 {
				margin:0 0 20px;
				padding:0;
				font-size:18px;
				line-height:1.7em;
				@media print, screen and (max-width: 959px) {
					font-size:16px;
				}
				@media print, screen and (max-width: 767px) {
					font-size:15px;
				}
			}
			h5 {
				margin:0 0 20px;
				padding:0;
				font-size:16px;
				line-height:1.8em;
				@media print, screen and (max-width: 959px) {
					font-size:15px;
				}
				@media print, screen and (max-width: 767px) {
					font-size:14px;
				}
			}
			h6 {
				margin:0 0 20px;
				padding:0;
				font-size:16px;
				line-height:1.8em;
				@media print, screen and (max-width: 959px) {
					font-size:15px;
				}
				@media print, screen and (max-width: 767px) {
					font-size:14px;
				}
			}
			.wp-block-columns {
				display:flex;
				margin:0 0 0 -30px;
				@media print, screen and (max-width: 767px) {
					display:block;
				}
				.wp-block-column {
					box-sizing:border-box;
					padding:0 0 0 30px;
				}
			}
		}
	}
}


