@charset "UTF-8";

$primary: #000000;
$secondary: #525252;
$white: #ffffff;

//#685942
@import "_common";
@import "_index";
@import "_information";
@import "_post";
@import "_faq";
@import "_contact";
@import "_request";
@import "_privacy";
@import "_utils";