// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;

.btn {
    &::before {
        content: "";
    }
    
    &::after {
        content: "";
    }
    &:hover {
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            width: 192px;
        }
    }

    // PRIMARY カラー
    &__primary {
  
    }
  
    // 白地に PRIMARY カラーのテキスト版
    
	&__white {
  
    }
}
.btn-wrap {
	width: 100%;
	margin-top: 60px;
	margin-bottom: 60px;
	&.recruit-detail {
		padding: 0 30px;
		@media only screen and (min-width: g.$desktop-breakpoint-md){
		padding: 0 0;
		margin-top: 80px;
		margin-bottom: 80px;
		}
		&.center {
			display: flex;
			justify-content: center;
		}
	}
}

.btn-center {
	display: flex;
	justify-content: center;
	width: 100%;
}

.btn-bace-square,
.btn-bace-round {
	.btn-setting{
		display: block;
		position: relative;
		background-color: #00BFF2;
		padding: 12px 54px 12px 20px;
		border-radius: 50px;
		color: #ffffff;
		font-size: 14px;
		font-weight: 700;
		min-width: 160px;
		@media (min-width: 960px){
			padding: 14px 54px 14px 20px;
		}
		@media only screen and (min-width: g.$desktop-breakpoint-xl){
			padding: 20px 54px 20px 20px;
			font-size: 16px;
			min-width: 220px;
		}
		@media only screen and (min-width: g.$desktop-breakpoint-xxl){
			padding: 20px 54px 20px 20px;
		}
		@media only screen and (min-width: g.$desktop-breakpoint-xxl){
			padding: 20px 54px 20px 20px;
		}

		&.pink {
			background-color: g.$tertiary !important;
		}

		&.navy {
			background-color: g.$primary;
			&::after {
				background-image: url(../img/common/icon_page_arrow.svg) !important;
				width: 9px !important;
				height: 10px !important;
				right: 19px;
			}
		}

		&.btn-sm {
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 20px;
			font-size: 14px;
			width: 160px;
			height: auto;
			@media only screen and (min-width: g.$desktop-breakpoint-md){
				width: 160px;
				font-size: 14px;
			}
			@media only screen and (min-width: g.$desktop-breakpoint-xl){
				width: 220px;
				font-size: 16px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 30px;
			}
		}

		&.btn-md {
			padding: 20px 54px 20px 20px;
			font-size: 14px;
			@media only screen and (min-width: g.$desktop-breakpoint-md){
				width: 320px;
				font-size: 16px;
			}
		}

		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			background-color: #ffffff;
			width: 24px;
			height: 24px;
			border-radius: 50px;
			top: 50%;
			//right: 12px;
			//right: 8px;
			right: 10px;
			transform: translate(0, -50%);
			transition: all 0.3s;
			transform-origin: 50% 0;
			@media only screen and (min-width: g.$desktop-breakpoint-xl){
				right: 14.5px;
			}
		}
		&::after{
			content: "";
			display: inline-block;
			background: url(../img/common/icon_btn-bace-round-arrow.png) center/contain;
			width: 11px;
			height: 14px;
			vertical-align: middle;
			position: absolute;
			top: 50%;
			//right: 18px;
			//right: 14px;
			right: 16px;
			transform: translate(0, -50%);
			@media only screen and (min-width: g.$desktop-breakpoint-xl){
				right: 20px;
			}
		}

		&:hover::before{
			@media only screen and (min-width: g.$desktop-breakpoint-md){
				scale: 1.4;
				transform-origin: 50% 0;
			}
			@media only screen and (min-width: g.$desktop-breakpoint-xl){
				scale: 1.8;
			}
		}

		&.btnico-link {
			position: relative;
			&::after{
			content: "";
			display: inline-block;
			background: url(../img/common/icon_btn-bace-square-arrow.png) ;
			background-repeat: none;
			background-size: cover;
			background-position: center;
			width: 13px;
			height: 10px;
			}
			@media only screen and (min-width: g.$desktop-breakpoint-md){
				&:hover {
					&::before{
						@media only screen and (min-width: g.$desktop-breakpoint-md){
							scale: 1.5;
							transform-origin: 50% 0;
						}
					}
				}
			}
		}
	}
}


.btn-bace-square {
	.btn-setting {
		//  display: inline-block;
		//  position: relative;
		background-color: #EB008B;
		//  padding: 12px 54px 12px 20px;
		border-radius: 6px;
		//  color: #ffffff;
		//  font-size: 14px;
		//  font-weight: 700;
		width: 100%;

		&.btn-lg {
			margin: 0;
			padding: 0;
		}

		&::after {
			background: url(../img/common/icon_btn-bace-square-arrow.png) center/contain;
			width: 11px;
			height: 13px;
			right: 18px;
		}

		&.btn-lg {
			box-sizing: border-box;
			max-width: 330px;
			height: 62px;
			width: 100%;
			display: block;
			max-width: 100%;
			display: flex;
			align-items: center;
			padding: 20px;
			font-size: 16px;
			@media only screen and (min-width: g.$desktop-breakpoint-md){
				padding: 20px;
				max-width: 100%;
			}
			@media only screen and (min-width: g.$desktop-breakpoint-md){
				width: 354px;
				height: 62px;
				
			}
			@media only screen and (min-width: g.$desktop-breakpoint-xl){
				width: 550px;
				height: 110px;
				padding: 40px 30px;
				font-size: 20px;

				&:before {
					right: 40px;
				}

				&::after {
					background: url(../img/common/icon_btn-bace-square-arrow.png) center/contain;
					width: 11px;
					height: 13px;
					right: 46px;
				}
			}
		}
	}
}



.floating-recruit-btn {
  position: fixed;
  right: 0;
  top: 160px;
  //bottom: 90px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  box-shadow: -1px 1px 12px rgba(0, 0, 0, 0.15);
  // @media only screen and (min-width: g.$desktop-breakpoint-md) {
  //   display: none !important;
  // }
  @media only screen and (min-width: g.$desktop-breakpoint-md){
	top: 200px;
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}

.page-id-10 {
	.floating-recruit-btn {
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			top: 440px;
		}
	}
}

.page-id-14 {
	.floating-recruit-btn {
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			top: 500px;
		}
	}
}

.btn-setting-floating-box {
	//display: flex;
	//align-items: center;
	display: block;
    filter: drop-shadow(-1px 1px 20px rgba(0, 0, 0, 0.2));
	
	.floating-recruit-btn-close {
		width: 100%;
		//height: 50px;
		padding: 10px 0;
		background-color: g.$white;
		border-radius: 0 0 0 6px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 10px !important;
			height: 10px !important;
		}
	}
}

.btn-setting-floating {
	background-color: #EB008B;
	box-sizing: border-box;
	max-width: 196px;
	//height: 50px;
	width: 100%;
	display: block;
	max-width: 100%;
	display: flex;
	align-items: center;
	padding: 15px 15px 15px 15px;
	padding-top: calc(15px + 18px + 13px);
	font-size: 14px;
	border-radius: 6px 0 0 0;
	color: g.$white;
	line-height: 1.1;
	&::before {
		content: "";
		display: inline-block;
		position: absolute;
		background-color: #ffffff;
		width: 18px;
		height: 18px;
		border-radius: 50px;
		top: 15px;
		left: 13px;
		//top: 50%;
		//right: 20px;
		//transform: translate(0, -50%);
		transition: all 0.3s;
		//transform-origin: 50% 0;
	}

	&::after {
		content: "";
		background: url("../img/common/icon_btn-bace-square-arrow.png") no-repeat center/contain;
		display: inline-block;
		width: 10px;
		height: 18px;
		position: absolute;
		top: 15px;
		left: 17px;
		//left: 50%;
		//transform: translate(-50%, 0);
		vertical-align: middle;
		//right: 23px;
	}
}

.companyinfo-box {
	.companyinfo-link{
		position: relative;
		display: block;
		font-size: 14px;
		font-weight: bold;
		padding: 20px;
		padding-right: calc(20px + 20px);
		border-bottom: solid 1px g.$bg-light-gray;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			background-color: g.$secondary;
			width: 20px;
			height: 20px;
			border-radius: 50px;
			top: 50%;
			right: 12px;
			transform: translate(0, -50%);
			transition: all 0.3s;
			transform-origin: 50% 0;
		}
		
		&::after {
			content: "";
			background: url("../img/common/icon_menu_arrow.svg") no-repeat center/contain;
			display: inline-block;
			width: 14px;
			height: 9px;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			vertical-align: middle;
			right: 15px;
		}
		&:hover {
			@media only screen and (min-width: g.$desktop-breakpoint-md) {
				background-color: g.$bg-blue;
				color: g.$white;
			}
		}
				
		&:hover::before{
			@media only screen and (min-width: g.$desktop-breakpoint-md) {
					scale: 1.5;
					transform-origin: 50% 0;
			}
		}
	}
}


//page-content-link
.page-content-link-list{
	background-color: g.$blue300;
    border-radius: 12px;
    overflow: hidden;
    padding: calc(30px - 20px) 30px;
	margin: 0 calc(50% - 47vw);
	margin-bottom: 60px;
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
			width: 290px;
			margin: 0;
			padding: calc(60px - 20px) 30px;
			padding-right: 20px;
			position: absolute;
//			position: fixed;
			top: 457px;
//			top: 33%;
			right: 0;
			border-radius: 20px 0 0 20px;
		z-index: 2;
//		transition-duration: .6s;
	}
}

.page-content-link-list {
	&.fixed{
		position: fixed;
		//top: 150px;
		top: 120px;

		&.none {
			opacity: 0;
			z-index: -1;
		}	
	}
}

.page-content-link{
	border-bottom: solid 1px g.$primary;
	&:last-of-type{
		border-bottom: none;
	}

	a{
		padding: 20px 20px;
		display: block;
		padding-left: 40px;
		position: relative;
		font-weight: 700;
		text-decoration: none;
		@media only screen and (min-width: g.$desktop-breakpoint-xl){
				padding-left: 32px;
		}
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			background-color: #07185C;
			width: 20px;
			height: 20px;
			border-radius: 50px;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			transition: all 0.3s;
			transform-origin: 50% 0;
			@media only screen and (min-width: g.$desktop-breakpoint-xl) {
					width: 17px;
					height: 17px;
			}
			@media only screen and (min-width: g.$desktop-breakpoint-xl){
						font-size: 14px;
			}
			
		}
		
		&::after {
			content: "";
			background: url(../img/common/icon_menu_arrow.svg) no-repeat center / contain;
			display: inline-block;
			width: 14px;
			height: 9px;
			position: absolute;
			top: 51%;
			transform: translate(0, -50%) rotate(90deg);
			vertical-align: middle;
			left: 3px;
			@media only screen and (min-width: g.$desktop-breakpoint-xl){
					width: 10px;
					height: 7px;
					top: 50%;
					transform: translate(0, -50%) rotate(0deg);
			}
		}
		&:hover::before{
			@media only screen and (min-width: g.$desktop-breakpoint-md) {
					scale: 1.5;
					transform-origin: 50% 0;
			}
		}
		
		
	}
}

.btn-voice {
	display: block;
	position: relative;
	background-color: #3EB3FF;
	border-radius: 50px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	width: 158px;
	padding: 10px 50px 10px 20px;
	@media (min-width: g.$desktop-breakpoint-md){
		padding: 10px 50px 10px 20px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		padding: 15px 50px 15px 30px;
		font-size: 16px;
		width: 220px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xxl){
		width: 220px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xxl){
		width: 220px;
	}

	&::before {
			content: "";
			display: inline-block;
			position: absolute;
			background-color: #ffffff;
			width: 24px;
			height: 24px;
			border-radius: 50px;
			top: 50%;
			//right: 12px;
			right: 8px;
			transform: translate(0, -50%);
			transition: all 0.3s;
			transform-origin: 50% 0;
			@media only screen and (min-width: g.$desktop-breakpoint-xl){
				right: 14.5px;
			}
		}
		&::after{
			content: "";
			display: inline-block;
			background: url(../img/common/icon_btn-bace-round-arrow.png) center/contain;
			width: 11px;
			height: 14px;
			vertical-align: middle;
			position: absolute;
			top: 50%;
			//right: 18px;
			right: 14px;
			transform: translate(0, -50%);
			@media only screen and (min-width: g.$desktop-breakpoint-xl){
				right: 20px;
			}
		}

		&:hover::before{
			@media only screen and (min-width: g.$desktop-breakpoint-md){
				scale: 1.4;
				transform-origin: 50% 0;
			}
			@media only screen and (min-width: g.$desktop-breakpoint-xl){
				scale: 1.8;
			}
		}
}
	
.hidden {
 animation: fade .2s ease-in-out forwards;
 pointer-events: none;
}

@keyframes fade {
 from {
  opacity: 1;
 }

 to {
  opacity: 0;
 }
}

.visible {
 animation: fadeOut .2s ease-in-out forwards;
 pointer-events:all;
}

@keyframes fadeOut {
 from {
  opacity: 0;
 }

 to {
  opacity: 1;
 }
}	
	
//}























































