@use "../utils/variables" as g;

//mixin
@use 'sass:color';
@mixin mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin font-center {
  text-align: center;
}


// FONT
@mixin font-jp-lg-300 {
  font-family: g.$font-noto-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.8;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 24px;
  }
}

@mixin font-jp-lg-400 {
  font-family: g.$font-noto-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.8;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 24px;
  }
}

@mixin font-jp-lg-600 {
  font-family: g.$font-noto-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 24px;
  }
}

@mixin font-jp-md-300 {
  font-family: g.$font-noto-sans;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 16px;
  }
}

@mixin font-jp-md-400 {
  font-family: g.$font-noto-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 16px;
  }
}

@mixin font-jp-md-500 {
  font-family: g.$font-noto-sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 16px;
  }
}

@mixin font-jp-body-300 {
  font-family: g.$font-noto-sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 2;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 14px;
  }
}

@mixin font-jp-body-400 {
  font-family: g.$font-noto-sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 14px;
  }
}

@mixin font-jp-body-500 {
  font-family: g.$font-noto-sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 14px;
  }
}

@mixin font-jp-body-500-sm {
  font-family: g.$font-noto-sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 12px;
  }
}

@mixin font-jp-base-300 {
  font-family: g.$font-noto-sans;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 12px;
  }
}

@mixin font-jp-base-400 {
  font-family: g.$font-noto-sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 12px;
  }
}

@mixin font-jp-base-500 {
  font-family: g.$font-noto-sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 12px;
  }
}

@mixin font-en-lg {
  font-family: g.$font-bellefair;
  font-weight: 400;
  font-size: 48px;
  line-height: auto;
  line-height: 1;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 72px;
    line-height: 1.8;
  }
}

@mixin font-en-md {
  font-family: g.$font-bellefair;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.8;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 40px;
    line-height: 1.8;
  }
}

@mixin font-en-sm {
  font-family: g.$font-bellefair;
  font-weight: 400;
  font-size: 14px;
  line-height: auto;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    font-size: 14px;
  }
}

@mixin mx-atuo {
  margin-left: auto;
  margin-right: auto;
}

//form共通パーツ
@mixin input-style(
    $padding: 0.6rem 1rem,
    $font-size: 1rem,
    $border-color: #9D9D9E,
    $border-radius: 5px,
    $background-color: #FAFAFA,
) {
    padding: $padding;
    font-size: $font-size;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $background-color;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
        border-color: #007BFF;
        box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
    }

    &:disabled {
        background-color: #f5f5f5;
        color: #999;
        cursor: not-allowed;
    }

    &::placeholder {
        color: #aaa;
    }
}

@mixin input-width($size) {
    @if $size == sm {
        //width: 200px;
    } @else if $size == md {
        //width: 300px;
    } @else if $size == lg {
        //width: 400px;
    } @else if $size == xl {
        //width: 500px;
    } @else {
        width: 100%; // デフォルト
    }
}

@mixin btn-style(
    $bg-color: #007BFF,
    $color: #fff,
    $padding: null,
    $size: null
) {
    // カラー系スタイル
    background-color: $bg-color;
    color: $color;

    // サイズ系スタイル
    @if $size != null {
        @include btn-size($size);
    } @else {
        @if $padding != null {
            padding: $padding;
        } @else {
            padding: 0.8rem 1.5rem; // デフォルトのパディング
        }
        font-size: 16px; // デフォルトフォントサイズ
    }
    position: relative;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    line-height: 1;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: color.adjust($bg-color, $lightness: -10%);
    }

    &:disabled {
        background-color: #f5f5f5;
        opacity: 0.7;
        color: #999999;
        cursor: not-allowed;
    }
}


@mixin checkbox-radio-style($size: 20px) {
    display: inline-block;
    width: $size;
    height: $size;
    border: 1px solid #DBDBDB;
    border-radius: 50%; // デフォルトはラジオボタン（円形）
    appearance: none;
    cursor: pointer;

    &:checked {
        background-color: #007BFF;
        border-color: #007BFF;
    }
}

/*
@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-left {
    display: flex;
    flex-wrap: wrap;
  }
  
  @mixin flex-left-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  @mixin flex-top-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  @mixin flex-left-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  @mixin flex-right-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  @mixin flex-top-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  @mixin flex-right-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  
  @mixin flex-between-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @mixin flex-between-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin flex-between-end {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  
  
  @mixin box-width {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  @mixin transition-base {
    transition: all 0.3s ease-in-out;
  }
  
  @mixin ico-size-sm {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 100%;
    left: 15px;
  }
  
  @mixin ico-size-lsm {
    top: 50%;
    transform: translateY(-50%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 17px;
    height: 100%;
    left: 15px;
  }
  
  @mixin ico-size-md {
    top: 50%;
    transform: translateY(-50%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 100%;
    left: 15px;
  }
  
  
  @mixin ico-size-lmd {
    top: 50%;
    transform: translateY(-50%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 100%;
    left: 15px;
  }
*/