$primary: #80D8D0;
//$secondary: #00CE8F;
$white: #ffffff;
$off-white: #FAF8F5;
$black: #000000;
$gray: #B2B2B2;
$light-gray: #F0F0F0;
$link-color: #2997FF;
$title-color: #1571DA;
$alert-color: red;
$green: #3EBCB0;
//$green-700: #80D8D0;
//$green-500: #B3E8E3;
//$green-300: #CCEFEC;
//$green-100: #F1F7F7;


//$font-family-base: "RakutenSansJP", sans-serif;
$font-bellefair: 'Bellefair', serif;
$font-ibm-plex-sans: "IBM Plex Sans JP", sans-serif;
$font-noto-sans: 'Noto Sans JP', sans-serif;
$font-noto-serif: 'Noto Serif JP', serif;

$spacer-0: 0;
$spacer-min: 5px;
$spacer-1: 10px;
$spacer-2: 20px;
$spacer-3: 30px;
$spacer-4: 40px;
$spacer-5: 50px;
$spacer-6: 60px;
$spacer-7: 70px;
$spacer-8: 80px;
$spacer-9: 90px;
$spacer-10: 100px;

$desktop-breakpoint-xl: 1200px;
$desktop-breakpoint-lg: 992px;
$desktop-breakpoint-md: 768px;
$desktop-breakpoint-sm: 544px;
$desktop-breakpoint-xs: 376px;

$xs: 100px;
$sm: 150px;
$md: 180px;
$lg: lg;
$xl: xl;

$input-size-sm: 100px;
$input-size-md: 150px;
$input-size-lg: 450px;
$input-size-xl: 1000px;
$input-size-full: 100%;