// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;

#page-company-inquiry {
  background-color: g.$bg-blue;

  .sub-page-main {
    padding-top: 60px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      padding-top: 120px;
    }
  }

  .sub-page-main.bg-lightgreen {
    background-color: #ffffff;
    background-image: url(../img/inquiry/bg_lightgreen_diag.png);
    background-repeat: no-repeat;
    background-position: top 40px left -20px;
    background-size: 80%;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      background-position: top 70px left 0px;
      background-size: 70%;
    }
    @media only screen and (min-width: g.$desktop-breakpoint-xl) {
      background-position: top 70px left 0px;
      background-size: 40%;
    }
  }

  .sub-ttl {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      font-size: 20px;
      margin-bottom: 9px;
    }
  }

  .read-ttl {
    font-size: 22px;
    font-weight: 700;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      font-size: 40px;
    }
  }

  .sub-page-main {
    .text {
      font-size: 14px;
      font-weight: 400;
      line-height: 2;
      @media only screen and (min-width: g.$desktop-breakpoint-md) {
        font-size: 16px;
        margin-bottom: 60px;
      }
      @media only screen and (min-width: g.$desktop-breakpoint-xl) {
        margin-bottom: 0;
      }
    }
    .read {
      @media only screen and (min-width: g.$desktop-breakpoint-md) {
        margin-bottom: 80px;
      }
    }
  }
  .margin-adjust {
    margin-bottom: 40px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      margin-bottom: 60px;
    }
  }
  .left-border-ttl {
    margin-bottom: 20px;
  }
  .disc-list {
    margin-bottom: 40px;
  }
  .left-bulueline-ttl {
    margin-bottom: 30px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      font-size: 18px;
    }
  }
  .security .text {
    margin-bottom: 40px;
  }
  .white-radius-box {
    .left-border-ttl {
      margin-bottom: 5px;
    }
    .mb-2-4:last-of-type {
      margin-bottom: 0;
    }
    .text {
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 0;
    }
    .dot-ttl {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      &::before {
        margin: 0;
        flex: none;
      }
    }
    .tel {
      margin-bottom: 5px;
      a {
        font-size: 24px;
        font-weight: 700;
        display: block;
        span {
          display: inline-block;
          font-size: 12px;
          font-weight: 700;
          margin-right: 5px;
        }
        @media only screen and (min-width: g.$desktop-breakpoint-xl) {
          pointer-events: none;
        }
      }
    }
  }
  .security .dot-ttl,
  .white-radius-box .dot-ttl {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .pdf-list {
    margin-bottom: 40px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      margin-bottom: 60px;
    }
    .pdf-item a {
    }
  }
  .security-img {
    margin-bottom: 40px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      margin-bottom: 60px;
    }
  }
  #page-content-link_03 {
    .white-radius-box {
      margin: 0;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .sec-bulue-box {
    padding-bottom: 40px;
    padding-top: 60px;
    .left-content {
    }
    @media only screen and (min-width: g.$desktop-breakpoint-xl) {
      padding-bottom: 40px;
      padding-top: 60px;
      max-width: 800px;
    }
    @media only screen and (min-width: 1800px) {
      max-width: 940px;
    }

    .p-side-3-8 {
      @media only screen and (min-width: g.$desktop-breakpoint-xl) {
        padding: 0 60px;
      }
    }
  }
  .sub-page-main.bg-lightgreen div:last-of-type .sec-bulue-box {
    margin-bottom: 60px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      margin-bottom: 74px;
    }
  }

  //バナー
  .bnr_office_cleaning {
    margin-bottom: 60px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      margin: 0 auto;
      margin-bottom: 80px;
    }
    @media only screen and (min-width: 960px) {
      .pc::after {
        bottom: 20.5%;
        left: 61.9%;
      }
    }
    .pc {
      display: none;
      max-width: 940px;
      @media only screen and (min-width: g.$desktop-breakpoint-md) {
        &:hover::before {
          scale: 1.5;
          transform-origin: 50% 50%;
        }
      }
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        background-color: g.$secondary;
        border-radius: 50px;
        width: 26px;
        height: 26px;
        bottom: 18%;
        left: 61%;
        transition: all 0.3s;
        transform-origin: 50% 50%;
      }
      &::after {
        content: "";
        background: url("../img/inquiry/icn_office_cleaning_arrown.svg")
          no-repeat center/contain;
        display: inline-block;
        width: 11px;
        height: 14px;
        position: absolute;
        bottom: 21%;
        left: 62%;
      }
    }
    .pc,
    .sp {
      display: block;
      position: relative;
    }
  }
}
