// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;
//page message
#page-company-message{
	background-color: g.$bg-blue;

	.ceo-message-content{
	
	}
	.ceo-img{
		margin-bottom: 40px;
	}
	.ceo-img img{
		height: 260px;
		height: 66.67vw;
		width: 100%;
		object-fit: cover;
		object-position: center top;
			border-radius: 12px;
		overflow: hidden;

	}
	.ceo-message p{
		color: g.$primary;
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 32px;
		line-height: 1.8;
	}
@media only screen and (min-width: g.$desktop-breakpoint-md){
	.ceo-img{
		margin-bottom: 60px;
	}

	.ceo-img img{
		height: 58.67vw;
			border-radius: 15px;

	}
	.ceo-message p{
		font-size: 16px;
		margin-bottom: 35px;
		line-height: 2;
	}
	//	.ceo-message-content{
	//		max-width: 1280px;
	//    	margin: 0 auto;
	//	}
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		.ceo-img img{
			width: 510px;
			height: 562px;
		}
		.ceo-message-content{
			display: flex;
			gap: 80px;
		}
	}
}



















