// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;




#page-top a{
	text-decoration: none;
}
//タイトル
.ttl-2 {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  display: inline-block;
  line-height: 1;
	@media (min-width: 960px){
		font-size: 50px;
	}
	span{
	  font-size: 14px;
	  display: block;
	  margin-bottom: 7px;
		&::before{
		  content: "";
		  display: inline-block;
		  width: 8px;
		  height: 8px;
		  background-color: #EB008B;
		  border-radius: 2px;
		  vertical-align: middle;
		  margin-right: 10px;
		  margin-bottom: 3px;
		}
	}
}
.content-inner {
  padding: 0 30px;
}
//=======MV=======
//-------スライダー---------
section.top-mv{
//	position: sticky;
//	top: 0;
//	z-index: 0
}
section{
	position: relative;
	z-index: 1;
}
.mv-flex{
	display: flex;
	}
#slider-right {
	display: none;
}
#slider-left ,#slider-right{
    width: 100%;
	  height: 480px;
    background-size: cover;
    background-position: center;
    z-index: 1;
	@media only screen and (min-width: g.$desktop-breakpoint-md){
		display: block;
		width: 50%;
		height: 550px;
	}
	@media only screen and (min-width: 960px){
		height: 758px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		height: 800px;
	}
}

.archive-contents-top {
	position: relative;

	.kv-parts-block {
		position: absolute;
		transform: rotate(-43deg);
		left: -191px;
		top: 0;
		@media only screen and (min-width: g.$desktop-breakpoint-sm){
			left: -425px;
			top: 3%;
		}
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			left: -400px;
			top: 0%;
		}
		@media only screen and (min-width: g.$desktop-breakpoint-lg){
			left: -400px;
			top: -1%;
		}
		@media only screen and (min-width: g.$desktop-breakpoint-xl){
			left: -400px;
			top: -15%;
		}
		.kv-parts-item {
			display: block;
			width: 433px;
			height: 76px;
			@media only screen and (min-width: g.$desktop-breakpoint-sm){
				width: 886px;
				height: 110px;
			}
			@media only screen and (min-width: g.$desktop-breakpoint-md){
				width: 886px;
				height: 110px;
			}
			@media only screen and (min-width: g.$desktop-breakpoint-lg){
				width: 886px;
				height: 110px;
			}
			@media only screen and (min-width: g.$desktop-breakpoint-xl){
				width: 886px;
				height: 110px;
			}
			&.kv-parts-item-01 {
				//margin-left: -156px;
				//margin-bottom: -110px;
				margin-left: -10%;
				@media only screen and (min-width: g.$desktop-breakpoint-sm){
					margin-left: -5%;
				}
				
			}

			&.kv-parts-item-02 {
				margin-top: -3px;
				@media only screen and (min-width: g.$desktop-breakpoint-xl){
					width: 886px;
					height: 110px;
				}
			}

			img {
				vertical-align: bottom;
				width: 511px;
				height: auto;
				@media only screen and (min-width: g.$desktop-breakpoint-sm){
					width: 886px;
					height: 110px;
				}
				@media only screen and (min-width: g.$desktop-breakpoint-md){
					width: 886px;
					height: 110px;
				}
				@media only screen and (min-width: g.$desktop-breakpoint-lg){
					width: 886px;
					height: 110px;
					
				}
				@media only screen and (min-width: g.$desktop-breakpoint-xl){
					width: 886px;
					height: 110px;
				}
			}
			
		}
	}
}


//=======お知らせ=======
#page-top #top-news-page .p-side{
	padding: 0 15px;
	@media only screen and (min-width: g.$desktop-breakpoint-md){
		padding: 0 30px;
	}
	@media only screen and (min-width: 960px){
		padding: 0 40px;
	}
}
#page-top #top-news-page{
	position: relativer;
	&::before{
		content: "";
		width: 100%;
		height: 107px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.42) 100%);
		position: absolute;
		top: -107px;
		left: 0;
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			height: 275px;
			top: -275px;
		}
			
	}
//	padding-top: 80px;
	@media only screen and (min-width: g.$desktop-breakpoint-md){
		padding: 80px 30px 0;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		display: flex;
		//padding-left: 0;
		padding-right: 0;
		gap:80px;
	}
	.information_list__tags{
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			gap: 10px 10px;
		}
		li{
			font-size: 12px;
			font-weight: 700;
			padding: 5px 15px;
			width: auto;
		}
	} 
	.nformation_list{
		margin-bottom: 0;
	}
	.breadcrumb-wrap{
		margin-bottom: 0;
	}
	.information_list__caption{
		flex: 1;
	}
	.information_list__thumb{
		width: 45%;
		max-width: 180px;
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			border-radius: 6px;
			
		}
	}
	.flex-container{
		align-items: flex-start;
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			flex-flow: wrap;
			gap: 20px;
		}
	}
	.flex-information_list{
		gap: 20px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-md){
			li{
				width: 100%;
			}
	}
	.top-ttl-area{
		margin-bottom: 0;
	}
	
	.top-ttl-bg{
		position: relative;
		background-color:g.$white;
		width: 173px;
		height: 66px;
		border-radius: 0 16px 0 0;
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			border-radius: 16px 16px 0 0;
			width: 232px;
		}
		&::before{
			content: "";
			display: inline-block;
			position: absolute;
			width: 40px;
			height: 40px;
			background: g.$white;
			bottom: 0;
			right: -40px;
			margin: 0;
			border-radius: 0;
		}
		&::after{
			content: "";
			display: inline-block;
			position: absolute;
			width: 40px;
			height: 40px;
			background: g.$primary;
			bottom: 0;
			right: -40px;
			margin: 0;
			border-radius: 0;
			border-radius: 0 0 0 16px;
		}
	}
	.btn-bace-round{
		margin: 0 30px 20px;
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			.btn-setting{
				    padding: 12px 54px 12px 20px;
				a:hover::before{
					scale: 1.5;
				    transform-origin: 50% 0;
				}
			}
		}
	}
	.mv-ttl{
		padding:0 15px;
		img{
			display: block;
			&.mv-ttl_01{
				width: 100%;
				max-width: 380px;
				height: auto;
				margin-bottom: 30px;
			}
			&.mv-ttl_02_tate{
				width: 75%;
				max-width: 520px;
				margin-bottom: 50px;
			}
			&.mv-ttl_02{
				width: 75%;
				max-width: 520px;
				margin-bottom: 50px;
			}
		}
		p{
			font-size: 14px;
			color: g.$white;
			font-weight: 400;
			line-height: 2;
		}
	}
	.flex-box-left{
		transform: translate(0, -90px);
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			transform: translate(0, -195px);
		}
		@media only screen and (min-width: g.$desktop-breakpoint-xl){
			width: 50%;
			transform: translate(0, -335px);
		}
	}
	.flex-box-right{
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			    margin-top: -100px;
			}
		@media only screen and (min-width: g.$desktop-breakpoint-xl){
			width: 50%;
			margin-top: 0;
		}
	}
}
#page-top .ttl-2 {
  font-size: 24px;
	> span {
	  font-size: 14px;
	  display: block;
	  margin-bottom: 7px;
		&::before{
		  content: "";
		  display: inline-block;
		  width: 8px;
		  height: 8px;
		  background-color: #EB008B;
		  border-radius: 2px;
		  vertical-align: middle;
		  margin-right: 10px;
		  margin-bottom: 3px;
		}
	}
}
#page-top #top-news-page .ttl-2{
	padding-left: 15px;
	padding-top: 15px;
	@media only screen and (min-width: g.$desktop-breakpoint-md){
		padding-left: 30px;
	}
}

 
#page-top {
	#information{
		.main-ounded-content{
			padding: 38px 0 30px;
			border-radius: 0;
			position: relative;
			@media only screen and (min-width: g.$desktop-breakpoint-md){
				border-radius: 0 16px 0 0;
			}
		}
	}
}



//===お知らせ下のスライダー=======
.top-slider-list{
	img{
		width:100%;//スライダー内の画像を横幅100%に
		height:auto;
	}
	.top-slider-list .slick-slide {
		margin:0;//スライド左右の余白調整
	}
}
.top-slider-outer{
	background-color: g.$white;
}

//======top-service=======
.service-bg{
	background-color: g.$white;
	padding: 60px 0 88px;
	background-image: url("../img/top/bg_purple_diag.png");
	background-size: 400px 383px;
	background-repeat:no-repeat;
	background-position: top 260px right -100px;
}
.top-ttl-area{
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 40px;
}
.service_img{
	display: none;
	width: 50%;
	height: 667px;
	margin-right: 40px;
	border-radius: 15px;
	background-image: url(../img/top/service_img_01.png);
	background-size: cover;
	background-position: center;
	transition: all 0.3s;
	@media (min-width: 960px){
		display: block;
	}
}
.service-list-outer{
	width: 100%;
}

@media (min-width: 960px){
	#top-service .flex-box-right{
		width: 50%;
	}
	#top-service .flex-bok{
		display: flex;
	}
}

#top-service .service-item{
	margin-bottom: 10px;
	a{
		display: block;
		position: relative;
		font-weight: 700;
		padding: 18px 50px 18px 20px;
		background-color: g.$btn-white;
		border-radius: 6px;
		@media only screen and (min-width: g.$desktop-breakpoint-md) {
			&:hover{
				color: g.$white;
				background-color: g.$primary;
				&::before{
				  scale: 1.5;
				  transform-origin: 50% 0;
				}
			}
		}
		&::before{
			content: "";
			display: inline-block;
			position: absolute;
			background-color: g.$secondary;
			width: 24px;
			height: 24px;
			border-radius: 50px;
			top: 50%;
			right: 20px;
			transform: translate(0, -50%);
			transition: all 0.3s;
			transform-origin: 50% 0;
		}
		&::after{
			content: "";
			display: inline-block;
//			background: url("../img/common/icon_btn-bace-round-arrow.png") center/contain;
			background: url("../img/common/icon_menu_arrow.svg") center/contain;
			background-repeat: no-repeat;
			width: 9px;
			height: 12px;
			vertical-align: middle;
			position: absolute;
			top: 50%;
			right: 26px;
			transform: translate(0, -50%);
		}
	}
}
/*画像切り替えのアニメーション*/
#top-service .service_img {
  transition: background-image 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}

#top-service .service_img.fade {
  opacity: 0;
}

//=======top recruit===================
		#top-recruit .recruit_img {
			width: 	100%;
			height: 250px;
			//background: url("../img/top/recruit_img.png") no-repeat center/cover;
			position: relative;
			@media only screen and (min-width: g.$desktop-breakpoint-md) {
				height: 380px;
			}
			@media only screen and (min-width: g.$desktop-breakpoint-xl) {
				height: 500px;
			}

			img  {
				position: relative;
				object-fit: cover;
				object-position: center;
				width: 100%;
				height: 250px;
				@media only screen and (min-width: g.$desktop-breakpoint-md) {
					height: 380px;
				}
				@media only screen and (min-width: g.$desktop-breakpoint-xl) {
					height: 500px;
				}
			}
		}	
		#top-recruit .recruit-bg{
			background-color: g.$white;
			padding: 60px 0;
			background-image: url(../img/top/bg_blue_diag.png);
			background-size: 400px 383px;
			background-repeat: no-repeat;
			background-position: top 250px left -240px;
			padding-bottom: 0;
			position: relative;
		}
#top-recruit .content-inner{
	margin-bottom: 80px;
}
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			#top-recruit .padding-l{
				padding-left: 60px;
			}
		}
		#top-recruit .top-ttl-area{
			display: block;
			margin-bottom: 30px;
		}
		#top-recruit .ttl-2{
			margin-bottom: 40px;
		}
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			#top-recruit .top-ttl-area{
				display: flex;
				margin-bottom: 60px;
			}
			#top-recruit .ttl-2{
				margin-bottom: 0;
			}
			.btn-bace-square .btn-setting{
				min-width: 354px;
			}
		}
		#top-recruit .ttl-3{
			margin-bottom: 30px;
		}
		#top-recruit .recruit-info-date{
			font-size: 12px;
			font-weight: 700;
			display: block;
		}
		#top-recruit .recruit-info-ttl{
			font-size: 13px;
			font-weight: 400;
			width: 100%;
		}
		#top-recruit .recruit-info-link{
			display: flex;
			gap: 40px;
			justify-content: space-between;
			align-items: center;
			padding: 20px 0;
		}
		@media only screen and (min-width: g.$desktop-breakpoint-xl){
			#top-recruit .recruit-info-link{
				gap: 60px;
			}
		}
		#top-recruit .recruit-info-item{
			border-bottom: solid 1px g.$line-bk-gray;
		}
		#top-recruit .recruit-info-item:first-child .recruit-info-link{
			padding-top: 0;
		}
#page-top #page-recruit-voices-outline {
			& .arrow_box{
		  display: flex;
		  align-items: center;
		  justify-content: flex-end;
			gap: 10px;
		  margin: 0;
				margin-right: 30px;
		  position: relative;
			& .prev-arrow,.next-arrow {
			  display: block;
			  width: 46px;
			  height: 46px;
			  background: rgba(0,18,94,0.10);
			  border-radius: 50%;
			  transition: all .3s ease;
			  cursor: pointer;
			  position:relative;
			}
			& .prev-arrow {
			  transform: rotate(180deg);
			}
			& .prev-arrow::before,.next-arrow::before{
				position:absolute;
				content: "";
				width: 12px;
				height: 12px;
				border-right: 1.5px solid;
				border-top: 1.5px solid;
				top:0;
				bottom:0;
				left:-5px;
				right:0;
				margin:auto;
				transform:rotate(45deg);
			}
		}
	.recruit-voices-list{
		margin-bottom: 40px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
			& .arrow_box{
				gap: 20px;
				& .prev-arrow,.next-arrow{
					width: 60px;
					height: 60px;
				}
			}
	}
	.bottom-border-bulue-ttl{
		font-size: 28px;
		display: flex;
    flex-flow: column;
		span{
			font-size: 14px;
		}
	}
	.slider-head{
		align-items: flex-end;
	}
	.glay-box{
		background-color: #F9F9F9;
    padding: 60px 0;
    margin-left: 30px;
    border-radius: 40px 0 0 0;
	}
	.senior-other-voice-content{
		padding: 0;
	}
	
	
	

}






































