// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;

/*
サンプル
.test {
    @include m.mx-auto //mixinの変数は @include m.xxxxx
    color: g.secondary;
    &:after {
        content: "";
    }
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
        &:hover {
            color: g.primary; //variablesの変数は g.$xxxx
        }
    }
}
*/
.site-footer a {
  text-decoration: none;
}
#footer-sm .nav-sp-menu {
  opacity: 1;
  transition: none;
  position: relative;
  padding-top: 40px;
  margin-bottom: 80px;
  background-color: rgba(255, 255, 255, 0);
}

#footer-sm .logo-l {
  width: 100%;
  max-width: 420px;
  height: auto;
  margin-bottom: 20px;
}
#footer-sm .logo-l a {
  display: inline-block;
  width: 100%;
}
.office-info {
  color: g.$white;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    gap: 80px;
  }
}
.office-list {
  margin-bottom: 40px;
}
.offis-item {
  margin-bottom: 20px;
}
.office-name {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
.office-acssec {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
.office-acssec .map .map-link {
  display: inline-block;
  color: g.$primary;
  font-size: 11px;
  font-weight: 700;
  padding: 0px 10px;
  background-color: g.$white;
  border-radius: 50px;
  margin-left: 10px;
}
.footer-btn {
  margin-bottom: 20px;
  //max-width: 400px;
  max-width: 250px;
  //@include m.mx-auto;
  margin-left: 0;
  margin-right: 0;
  display: block;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    //width: 254px;
    width: 290px;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
  @media only screen and (min-width: g.$desktop-breakpoint-xl) {
    width: 290px;
  }

  .footer-btn-link {
    width: 100%;
    display: block;
    //padding: 20px 40px;
    position: relative;
    //height: 58px;
    box-sizing: border-box;
    padding: 0;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      //height: 73px;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  .footer-btn-text {
    display: block;
  }

  .footer-btn-text {
    font-size: 12px;
    font-weight: 400;
    display: block;
    color: g.$white;

    &::after {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background-image: url("../img/common/icon_footerlink_square.svg");
      vertical-align: middle;
      margin-bottom: 5px;
      margin-left: 5px;
    }
  }
}

.footer-link-list {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 402px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.footer-link-item {
  a {
    display: inline-block;
    color: g.$white;
    font-size: 12px;
    font-weight: 400;
  }

  &.icon_privacypolicy {
    max-width: 50px;
    height: auto;
  }
}

.copyright {
  color: g.$white;
  font-size: 12px;
  text-align: center;
}
.footer-copylink-area {
  padding-bottom: 30px;
  //padding-bottom: 80px; クッキースペース
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    padding-bottom: 30px;
    //padding-bottom: 80px;
  }
}
.site-footer {
  border-radius: 0 30px 0 0;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    border-radius: 30px 30px 0 0;
  }

  .footer-bg {
    background-color: #001156;
    border-radius: 0 30px 0 0;
    @media only screen and (min-width: g.$desktop-breakpoint-xl) {
      border-radius: 30px 30px 0 0;
    }
  }

  .nav-pc-menu {
    display: none;
  }
  .submenu__item-top a::after {
    background: url("../img/common/icon_secondmenu-top_item_primary_arrow.svg")
      center / contain no-repeat;
  }
}

//#services-pages,
//.service-detail-footer,

.single-footer {
  .site-footer {
    //border-radius: 0 0 0 0;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      //border-radius: 0 0 0;
    }
  }

  .footer-bg {
    background-color: #001156;
    //border-radius: 0 0 0 0;
    @media only screen and (min-width: g.$desktop-breakpoint-xl) {
      //border-radius: 0 0 0 0;
    }
  }
}

//#services-pages,
.service-list-footer,
.service-detail-footer,
.archive-recruit-footer,
.single-recruit-footer {
  background-color: #07185C;
}


.submenu__item-top {
  position: relative;
  display: block;
  color: g.$white;
  font-weight: 700;
  margin-bottom: 0;
  padding-right: 35px;
  border-bottom: none !important;
  padding: 40px 0 15px !important;
  a {
    padding-left: 0 !important;
    display: inline-flex !important;
    padding-right: 20px;
    line-height: 1 !important;
    align-items: center !important;
    font-size: 14px !important;
    &::after {
      content: "";
      width: 18px;
      height: 18px;
      background: url("../img/common/icon_secondmenu-footer_item_arrow.png")
        center / contain no-repeat;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translate(0, -50%);
      font-size: 14px;
    }

    &::before {
      display: none;
    }
  }
}

@media only screen and (min-width: g.$desktop-breakpoint-md) {
  .site-footer .logo-l a:hover,
  .footer-link-item a:hover,
  .site-footer .nav-sp-menu a:hover,
  .office-acssec .map .map-link:hover,
  .footer-btn a:hover {
    opacity: 0.5;
  }

  .office-list {
    margin-bottom: 20px;
  }
  .office-name {
    font-size: 16px;
  }
  .office-acssec {
    font-size: 14px;
  }
  .site-footer .footer-pc-nav-area .justify-content-md-between {
    align-items: flex-end;
  }
}

.site-footer .nav-pc-menu {
  display: none;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    gap: 30px;
  }
  @media only screen and (min-width: g.$desktop-breakpoint-xl) {
    gap: 50px;
    display: flex;
  }
  @media only screen and (min-width: g.$desktop-breakpoint-xxxl) {
    gap: 80px;
  }
}

@media only screen and (min-width: g.$desktop-breakpoint-xl) {
  .site-footer .nav-sp-menu {
    display: none;
  }
  .footer-pc-nav-area {
    padding: 80px 30px 0 30px;
    display: flex;
    justify-content: space-between;
  }
 
  .site-footer .nav-pc-menu a {
    color: g.$white;
  }
  .site-footer .nav-pc-menu .menu__item__link {
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    position: relative;
  }
  .site-footer .nav-pc-menu .menu__item__link.non-link {
    pointer-events: none;
  }
  .site-footer .nav-pc-menu .menu__item__link span {
    font-size: 12px;
    font-weight: 400;
    padding-left: 15px;
  }
  .site-footer .nav-pc-menu .fismenu {
    margin-bottom: 60px;
  }
  .site-footer .nav-pc-menu .icon_menu_arrow .menu__item__link {
    padding-right: 25px;
    position: relative;
  }
  .site-footer .nav-pc-menu .icon_menu_arrow .menu__item__link::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 8px;
    background: url(../img/common/icon_menu_arrow.svg) center / contain;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .site-footer .nav-pc-menu .submenu {
    margin-top: 30px;
  }
  .site-footer .nav-pc-menu .submenu__item {
    margin-bottom: 20px;
  }
  .site-footer .nav-pc-menu .submenu__item a.nav-close-menu {
    font-size: 14px;
    font-weight: 400;
  }
  .site-footer .nav-pc-menu a:hover {
    opacity: 0.5;
  }
  .site-footer .footer-pc-nav-area .justify-content-md-between {
    display: block !important;
    max-width: 352px;
  }
  #footer-sm .logo-l {
    max-width: 326px;
  }
}

