// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;

/*
サンプル
.test {
    @include m.mx-auto //mixinの変数は @include m.xxxxx
    color: g.secondary;
    &:after {
        content: "";
    }
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
        &:hover {
            color: g.primary; //variablesの変数は g.$xxxx
        }
    }
}
*/
// -----------------
//　パーツ
//--------------------
#page-recruit-voices-outline a,
#information a,
#top-news-page a,
#main-content.archive-recruit a,
#page-company-inquiry  a,
#page-company-outline a{
	text-decoration: none;
}
.non-link{
	pointer-events: none!important;
}
.content-inner{
  padding: 0 30px!important;
}
.page-content-link-list .d-xl-inline-block{
	display: none;
}

.max-128{
	max-width: 1280px;
	margin: 0 auto;
}
.max-138{
	max-width: 1380px;
	margin: 0 auto;
}
//saide padding
.p-left-3-12{
	padding-left: 30px;
}
.p-side-3-12,
.p-side-3-6,
.p-side-3-8,
.p-side-3-16{
	padding: 0 30px;
}
.p-side-15-3,
.p-side-15-8{
	padding: 0 15px;
}
.mb-2-4{
	margin-bottom: 20px;
}
@media only screen and (min-width: g.$desktop-breakpoint-md){
	.p-left-3-12{
		padding-left: 60px;
	}
	.p-side-3-6{
		padding: 0 60px;
	}
	.p-side-15-8,
	.p-side-3-16,
	.p-side-3-8{
		padding: 0 40px;
	}
	.p-side-15-3{
		padding: 0 20px;
	}
	.mb-2-4{
		margin-bottom: 40px;
	}
}
@media only screen and (min-width: g.$desktop-breakpoint-xl){
	.p-left-3-12{
		padding-left: 120px;
	}
	.p-side-3-12{
		padding: 0 120px;
	}
	.p-side-15-8,
	.p-side-3-16,
	.p-side-3-8{
		padding: 0 80px;
	}
	.p-side-15-3{
		padding: 0 30px;
	}
	.max-960{
		max-width: 960px;
		margin: 0 auto;
	}
	.max-120{
		max-width: 1200px;
		margin: 0 auto;
	}
	.max-128{
		max-width: 1280px;
		margin: 0 auto;
	}
	.pl-4-16{
		padding-left: 80px;
	}
}
@media only screen and (min-width: 1800px){
	#page-company-outline .p-side-3-8,
	#page-company-inquiry .p-side-3-8{
		padding: 0 60px;
	}
	.p-side-3-16{
		padding: 0 160px;
	}
	.pl-4-16{
		padding-left: 160px;
	}
	
}
.bg-color-primary{
	background-color: g.$primary;
}
.bg-color-bg-blue{
	background-color: g.$bg-blue;
}
.bg-color-staffvoicebg{
	background-color: g.$staffvoicebg;
}
.bg-color-white{
	background-color: g.$white!important;
}
.bg-color-lightblue-gradation{
	background: linear-gradient(107.86deg, #309BFF 0.89%, #14ABF6 49.06%, #6E9EF9 99.11%)!important;
}


//コンテンツヘッダー
.sub-page-header{
	padding-top: 75px;
	padding-bottom: 20px;
	background-color: g.$bg-blue;
}
@media only screen and (min-width: g.$desktop-breakpoint-md){
	.sub-page-header{
		padding-top: calc( 75px + 14px );
	}
}
@media only screen and (min-width: g.$desktop-breakpoint-xl){
	.sub-page-header{
		padding-top: calc( 75px + 14px + 10px );
	}
}
.sub-page-lightbulule-header{
	padding-top: 75px;
	padding-bottom: 20px;
	background-color: g.$bg-blue;
	border-radius: 0 0 40px 0;
	@media only screen and (min-width: g.$desktop-breakpoint-md){
		padding-top: calc( 75px + 14px );
		border-radius: 0 0 120px 0;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		padding-top: calc( 75px + 14px + 10px );
	}
	& .breadcrumb-wrap{
		margin-bottom: 30px;
		@media only screen and (min-width: g.$desktop-breakpoint-xl){
			margin-bottom: 80px;
		}
	}
}
.page-header__title-flex{
	margin-bottom: 20px;
	& .blue-under-line-ttl{
		margin-bottom: 40px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-md){
		margin-bottom: 60px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		display: flex;
		gap: 160px;
		align-items: center;
	}
}
//パンクズ
.breadcrumb-wrap{
	margin-bottom: 40px;
}
.breadcrumb,
.breadcrumb a{
	color: g.$white;
	font-size: 10px;
	font-weight: 400;
}
.breadcrumb{
	opacity: 0.7;
}
.breadcrumb a{
	opacity: 1;
}
@media only screen and (min-width: g.$desktop-breakpoint-md){
	.breadcrumb a:hover{
		opacity: 0.7;
	}
}
//タイトル
.page-header__subtitle,
.page-header__title{
	color: g.$white;
}
.page-header__subtitle{
  font-size: 36px;
    font-weight: 700;
    text-align: left;
    display: inline-block;
    line-height: 1
}
.dot-ttl,
.page-header__title{
  font-size: 14px;
  display: block;
  margin-bottom: 7px
}
.dot-ttl::before,
.page-header__title::before{
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: g.$tertiary;
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 3px;
}
.dot-ttl::before{
  background-color: g.$primary;
}
.left-lightbulueline-ttl,
.left-bulueline-ttl,
.left-pinkline-ttl{
	position: relative;
	font-size: 20px;
	font-weight: 700;
	padding-left: calc(15px + 6px);
}
.left-lightbulueline-ttl,
.left-bulueline-ttl{
	font-size: 18px;
}
.left-lightbulueline-ttl::before,
.left-bulueline-ttl::before,
.left-pinkline-ttl::before{
	content: "";
	display: inline-block;
	position: absolute;
	width: 6px;
	height: 20px;
	background-color: g.$tertiary;
	top: 50%;
	left: 0;
	transform: translate(0 ,-50%);
}
.left-lightbulueline-ttl::before{
	background-color: g.$blue400;
}
.left-bulueline-ttl::before{
	background-color: g.$primary;
}
.left-border-ttl{
	font-size: 14px;
	font-weight: 700;
	display: flex;
    align-items: center;
}
.left-border-ttl::before{
	content: "";
	width: 20px;
	height: 1px;
	display: inline-block;
	background-color: g.$primary;
	margin-right: 10px;
		
}
@media only screen and (min-width: g.$desktop-breakpoint-xl){
	.left-lightbulueline-ttl,
	.left-bulueline-ttl,
	.left-pinkline-ttl{
		font-size: 24px;
		padding-left: calc(20px + 6px);
	}
	.left-lightbulueline-ttl::before,
	.left-bulueline-ttl::before,
	.left-pinkline-ttl::before{
		height: 24px;
	}
}
.bottom-border-bulue-ttl{
	position: relative;
	font-size: 24px;
	font-weight: 700;
	@media only screen and (min-width: g.$desktop-breakpoint-md){
		font-size: 28px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		font-size: 32px;
	}
	&::after{
		content: "";
		width: 35px;
		height: 6px;
		position: absolute;
		display: inline-block;
		background-color: g.$secondary;
		bottom: -10px;
		left: 0;
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			width: 40px;
			bottom: -15px;
		}
	}
}




@media only screen and (min-width: 960px){
  .page-header__subtitle{
    font-size: 50px;
  }
}



.blue-under-line-ttl{
		position: relative;
	& .page-header__title{
		font-size: 32px;
		font-weight: 700;
		display: inline-block;
//		position: relative;
		margin-right: 15px;
		margin-bottom: 0;
		&::before{
			content: none;
		}
	}
	& .page-header__subtitle{
		font-size: 14px;
		font-weight: 700;
		display: inline-block;
	}
	&::before{
		content: "";
		background-color: g.$secondary;
		width: 40px;
		height: 6px;
		display: inline-block;
		position: absolute;
		bottom: -13px;
		left: -3px;

	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		& .page-header__title{
			font-size: 56px;
			margin-right: 0;
			display: block;
		}
		& .page-header__subtitle{
			font-size: 16px;
		}
		&::before{
			width: 45px;
			height: 8px;
			bottom: -23px;
		}
	}
}
.page-header__subtext{
	font-size: 13px;
	font-weight: 700;
	color: g.$white;
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		font-size: 20px;
	}
}
.page-header__title-flex{
	
}
// -----------------
//　サブページ共通レイアウト
//--------------------

.sub-page-main{
	background-color: g.$white;
	border-radius: 20px 20px 0 0;
	  overflow: hidden;
	padding-top: 30px;
}
@media only screen and (min-width: 960px){
	.sub-page-main{
		padding-top: 60px;
	}
}
@media only screen and (min-width: 1440px){
	.sub-page-main{
		padding-top: 80px;
	}
	
}
.glay-box{
	background-color: g.$btn-white;
	padding: 20px;
	border-radius: 8px;
	@media only screen and (min-width: g.$desktop-breakpoint-md){
		padding: 30px;
		border-radius: 15px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		padding: 40px;
	}
}
//Companyinfo
.companyinfo-box a {
    text-decoration: none;
}
.companyinfo-box{
	background-color: g.$bg-light-gray;
	padding: 40px 15px 44px 15px;
	border-radius: 12px;
	  overflow: hidden;
	margin: 0 15px 80px 15px;
	
}
.companyinfo-box .page-header__titles{
	margin-bottom: 30px;
}
.companyinfo-box .page-header__subtitle{
	font-size: 24px;
}
.companyinfo-box .page-header__titles{
	margin-left: 30px;
}
.companyinfo-box .page-header__title,
.companyinfo-box .page-header__subtitle,
.companyinfo-box .companyinfo-link{
	color: g.$primary;
}
.companyinfo-box .companyinfo-item{
	background-color: g.$white;
}
.companyinfo-box .companyinfo-item:first-of-type{
	border-radius: 8px 8px 0 0;
	 overflow: hidden;
}
.companyinfo-box .companyinfo-item:last-of-type{
	border-radius: 0 0 8px 8px;
	 overflow: hidden;
}
@media only screen and (min-width: g.$desktop-breakpoint-md){
	.companyinfo-box .page-header__subtitle{
		font-size: 32px;
		margin-bottom: 0;
		line-height: 1.25;
		align-items: center;
	}
	.companyinfo-box .page-header__titles{
		max-width: 190px;
		margin-bottom: 0;
		margin-left: 0;
	}
	.companyinfo-box .companyinfo-content{
		display: flex;
		justify-content: space-between;
		gap:110px;
		align-items: center;
	}
	.companyinfo-box{
		padding: 40px 90px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.companyinfo-box .companyinfo-list{
		width: 100%;
	}
	.companyinfo-box .companyinfo-link::before{
		width: 26px;
		height: 26px;
	}
	.companyinfo-box .companyinfo-link::after{
		right: 18px;
		width: 11px;
		height: 14px;
	}
}
@media only screen and (min-width: g.$desktop-breakpoint-xl){
	.companyinfo-box .page-header__subtitle{
		font-size: 40px;
	}
	.companyinfo-box .page-header__titles{
		max-width: 237px;
	}
	.companyinfo-box{
		padding: 80px 0;
		margin-left: 30px;
		margin-right: 30px;
		display: flex;
		align-items: center;
		flex-flow: column;
	}
	.companyinfo-box .companyinfo-content{
		max-width: 877px;
		gap:120px;
	}
	.companyinfo-box .companyinfo-list{
		width: 520px;
	}
}

//sub-page read
.read .read-ttl{
		max-width: 660px;;
	margin-bottom: 40px;
}
.read .text{
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 60px;
}
.read{
	margin-bottom: 60px;
}
@media only screen and (min-width: g.$desktop-breakpoint-xl){
	.read .read-ttl{
		margin-bottom: 60px;
	}
	.read .text{
		font-size: 16px;
		margin-bottom: 120px;
	}
	.read{
		margin-bottom: 128px;
	}	
}
@media only screen and (min-width: g.$desktop-breakpoint-xl){
	.left-content{
		max-width: 800px;
	}
	.sikaku_box.fixed {
		position: fixed;
		top: 50px;
		left: auto;
		z-index: +1;
	}
	
}
@media only screen and (min-width: 1800px) {
    .left-content {
        max-width: 960px;
    }
}

//スクロール一調整
.margin-adjust{
	margin-top: -80px;
    padding-top: 80px;
}
//company-profile表
.company-profile{
	margin-top: 64px;
	margin-bottom: 40px;
}
.company-profile-item{
	border-bottom: solid 1px g.$line-bk-gray;
}
.company-profile-item .title{
	font-size: 14px;
	font-weight: 700;
	margin: 20px auto
}
.company-profile-item  .text{
	font-size: 13px;
	font-weight: 400;
	margin: 20px auto;
	line-height: 1.7;
}
.business-item{
	list-style-type: decimal;
	margin-left: 13px;
}
.blank-hiringratio-head{
	margin-top: 40px;
}
.blank-hiringratio-head .date{
	text-align: right;
	margin-bottom: 10px;
}
.blank-hiringratio-item .title,
.blank-hiringratio-item .text
{
	margin: 0;
	height: 62px;
	background-color: g.$primary;
	color: g.$white;
	text-align: center;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
}
.blank-hiringratio-item .text{
	background-color: g.$line-bk-gray;
	color: g.$primary;
	height: 46px;
	margin-bottom: 1px;
}

.blank-hiringratio-item.fiscal-year{
	

	width: 40%;
}
.blank-hiringratio-item.ratio{
	width: calc(100% - 1% - 40%);
}
.blank-hiringratio-table{
	display: flex;
    flex-flow: wrap;
    gap: 1px;
	margin-bottom: 10px;
}
.sec-bulue-box{
	padding-top: 80px;
	background-color: #F3F7FD;
	border-radius: 20px;
    overflow: hidden;
	margin-bottom: 90px;
}
.sec-box{
	padding-top: 90px;
	background-color: g.$white;;
	margin-bottom: 90px;
}
.white-radius-box{
	border-radius: 8px;
	background-color: g.$white;
	padding: 30px;
}
@media only screen and (min-width: g.$desktop-breakpoint-xl){
	.white-radius-box{
		padding: 40px;
	}
}



.company-affi-item{
	list-style-type: disc;
	margin-left: 18px;
	line-height: 1.7;
}

@media only screen and (min-width: g.$desktop-breakpoint-md){
	.company-system-item .title{
		font-size: 16px;
	}
	.company-system-item .text{
		font-size: 14px;
	}
	.company-system-item{
		border-radius: 8px;
	}
}
@media only screen and (min-width: g.$desktop-breakpoint-xl){
	.company-system-item{
		display: flex;
	}
	.company-system-item .title,
	.company-system-item .text{
		width: 50%;
	}
	.company-system-item.single .title{
		border-radius: 8px;
	}
}
//disc-list
.disc-list .disc-item{
	list-style-type: disc;
    margin-left: 20px;
    line-height: 1.7;
	font-weight: 700;
}
//pdf-list

.pdf-list a{
	position: relative;
	display: block;
    font-size: 14px;
    font-weight: 700;
	padding: 15px 0;
	text-decoration: none;
}
.pdf-list a img{
	width: 47px;
    vertical-align: middle;
    margin-left: 10px;
}
.pdf-list a::after{
	content: "";
    background: url(../img/outline/icon_target_blank.svg) no-repeat center / contain;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    vertical-align: middle;
    right: 0px;
}
.pdf-list .pdf-item{
//	border-top: solid 1px #07185C;
	border-bottom: solid 1px #07185C;
}
.pdf-list .pdf-item:first-of-type{
	border-top: solid 1px #07185C;
}
//先輩の声一覧
//.recruit-voices-list-card{
//	& .recruit-voices-list{
//		display: flex;
//		flex-flow: column;
//		gap: 40px;
//		justify-content: space-between;
//	}
//	& .img {
//		aspect-ratio: 3 / 2;
//		width: 100%;
//		height: 100%;
//		overflow: hidden;
//		border-radius: 12px;
//		margin-bottom: 15px;
//		& img{
//			aspect-ratio: 3 / 2;
//			object-fit: cover;
//			border-radius: 12px;
//			overflow: hidden;
//			transition: all 0.3s;
//		}
//	}
//	& .text{
//		& .title{
//			position: relative;
//			font-size: 18px;
//			font-weight: 700;
//			padding-bottom: 15px;
//			margin-bottom: 20px;
//			&::after{
//				content: "";
//				display: inline-block;
//				position: absolute;
//				bottom: 0;
//				left: 0;
//				width: 45px;
//				height: 8px;
//				background-color: g.$secondary;
//					
//			}
//		}
//		& .work{
//			display: block;
//			max-width: 202px;
//			font-size: 14px;
//			font-weight: 700;
//			color: g.$secondary;
//			padding: 5px 10px;
//			background-color: g.$line-bk-gray;
//			margin-bottom: 10px;
//			border-radius: 4px;
//		}
//		& .name{
//			font-size: 16px;
//			font-weight: 700;
//			display: block;
//		}
//		& .button-area{
//			display: flex;
//			justify-content: space-between;
//			align-items: flex-end;
//			& .place{
//				font-size: 12px;
//				font-weight: 400;
//				display: inline-block;
//			}
//			& .Joining{
//				font-size: 12px;
//				font-weight: 400;
//				display: inline-block;
//			}
//			& .btn span{
//				display: inline-block;
//				position: relative;
//				width: 58px;
//				height: 29px;
//				border-radius: 50px;
//				background-color: g.$secondary;
//				transition: all 0.3s;
//				&::after{
//					content: "";
//					display: inline-block;
//					background: url(../img/recruit/icon_one_arrow_white.svg) no-repeat center / contain;
//					width: 28px;
//					height: 5px;
//					position: absolute;
//					top: 50%;
//					left: 50%;
//					transform: translate(-50%, -50%);
//				}
//			}
//		}
//	}
//	@media only screen and (min-width: g.$desktop-breakpoint-md){
//		& .recruit-voices-list{
//			flex-flow: wrap;
//			gap: 40px 60px;
//			& .recruit-voices-item{
//				width: calc(100% / 2 - 30px);
//				& a:hover .text .button-area .btn span{
//					scale: 1.1;
//				}
//				& a:hover .img img{
//					scale: 1.1;
//				}
//			}
//			& .btn:hover{
//				width: auto;
//			}
//		}
//	}
//	@media only screen and (min-width: g.$desktop-breakpoint-xl){
//		& .recruit-voices-list{
//			gap: 120px 80px;
//			& .recruit-voices-item{
//				width: calc(100% / 2 - 40px);
//			}
//			& .flex{
//				display: flex;
//				justify-content: space-between;
//				gap: 30px;
//				align-items: flex-end;
//			}
//		}
//		& .img {
//			aspect-ratio: 26 / 36;
//			border-radius: 20px;
//			margin-bottom: 0;
//			& img{
//				aspect-ratio: 26 / 36;
//				border-radius: 20px;
//			}
//		}
//		& .text{
//			& .title{
//				font-size: 24px;
//			}
//			& .work{
//				font-size: 16px;
//				margin-bottom: 20px;
//				max-width: 228px;
//			}
//			& .name{
//				font-size: 18px;
//				margin-bottom: 20px;
//			}
//			& .button-area{
//				& .place{
//					font-size: 14px;
//				}
//				& .Joining{
//					font-size: 14px;
//				}
//			}
//		}
//	}
//}



// -----------------
//　slick設定
//--------------------
//次のスライドをチラ見せ幅
#page-company-inquiry .security-img .slick-slider .slick-list {
    padding: 0 5% 0 0 !important;
}
#page-company-inquiry .security-img .slick-initialized .slick-slide{
	padding-right: 20px;
}
#page-company-inquiry .security-img .slick-slide .slick-cloned{
	padding-right: 0px!important;
}
@media only screen and (min-width: g.$desktop-breakpoint-xl){
	//次のスライドをチラ見せ幅
	#page-company-inquiry .security-img .slick-slider .slick-list {
		padding: 0 0 0 0 !important;
	}
	#page-company-inquiry .security-img .slick-initialized .slick-slide{
		padding-right: 40px;
	}
	#page-company-inquiry .security-img .slick-slide .slick-cloned{
		padding-right: 0px!important;
	}
	#page-company-inquiry .security-img .slick-initialized .slick-slide:nth-of-type(even){
		padding-right: 0px;
	}
	#page-company-inquiry .security{
		position: relative;
		overflow: visible;	
	}
	#page-company-inquiry .security-img{
		width: 840px;
	}
}
//----recruit-bnr-slider------
//このページのfooterの背景色変更
#page-company-service + .site-footer{
	background-color: g.$primary;
}
.recruit-bnr-slider-outer{
	overflow: hidden;
    border-radius: 15px;
}
.recruit-bnr-content{
	position: relative;
	background-color: g.$primary;
    padding-top: 40px;
    padding-bottom: 40px;
}

.recruit-bnr-slider-outer .btn_recruit-bnr-slider-sp{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: inline-block;
    width: 280px;
    height: auto;
    z-index: 1;
	&::before{
		content: "";
		display: inline-block;
		position: absolute;
		background-color: g.$white;
		width: 26px;
		height: 26px;
		border-radius: 50px;
		bottom: 27%;
    right: 55px;
		transition: all 0.3s;
	}
	&::after{
		content: "";
		display: inline-block;
		background: url(../img/common/icon_btn-bace-square-arrow.png) center/contain;
		width: 11px;
		height: 14px;
		vertical-align: middle;
		position: absolute;
		bottom: 29%;
    right: 62px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-md){
		width: 338px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		display: none;
	}
}


.recruit-bnr-slider-outer .btn_recruit-bnr-slider-pc{
	display: none;
	height: 0;
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		display: inline-block;
		width: 400px;
		height: auto;
		z-index: 1;
		&::before{
			content: "";
			display: inline-block;
			position: absolute;
			background-color: g.$white;
			width: 26px;
			height: 26px;
			border-radius: 50px;
        bottom: 26%;
        right: 100px;
			transition: all 0.3s;
		}
		&::after{
			content: "";
			display: inline-block;
			background: url(../img/common/icon_btn-bace-square-arrow.png) center/contain;
			width: 11px;
			height: 14px;
			vertical-align: middle;
			position: absolute;
			bottom: 28%;
        right: 107px;
		}
	}
}
.recruit-bnr-link:hover .recruit-bnr-slider-outer .btn_recruit-bnr-slider-pc::before,
.recruit-bnr-link:hover .recruit-bnr-slider-outer .btn_recruit-bnr-slider-sp::before{
		@media only screen and (min-width: g.$desktop-breakpoint-md){
			scale: 1.5;
		}
}
//先輩の声スライド
#page-recruit-voices-outline .senior-other-voice-content .senior-other-voice-slider .recruit-voices-list-card{
	& .img {
		aspect-ratio: 280 / 187;
		& img{
			aspect-ratio: 280 / 187;
		}
	}
	& .text{
		& .work{
			font-size: 12px;
		}
	}
	& .recruit-voices-list .recruit-voices-item a:hover .img img{
		scale: 1.1;
	}
	& .recruit-voices-list .recruit-voices-item a:hover .text .button-area .btn span{
		scale: 1.1;
	}
	& .recruit-voices-slider .slick-slide {
		margin: 0 20px 0 0;
	}
	& .recruit-voices-slider .slick-list{
		overflow: visible;
		overflow: hidden;
	}
	& .recruit-voices-slider{
		margin-bottom: 50px;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-md){
		& .img {
			aspect-ratio: 1 / 1;
			& img{
				aspect-ratio: 1 / 1;
			}
		}
		& .text{
			& .work{
				font-size: 14px;
				display: inline-block;
			}
			& .button-area .place{
				display: block;
			}
		}
		& .recruit-voices-list{
			display: block;
		}
		& .recruit-voices-slider{
			margin-bottom: 80px;
		}
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		& .recruit-voices-slider .slick-slide{
			margin: 0 40px 0 0;
		}
		& .img {
			margin-bottom: 20px;
		}
	}
}
#page-recruit-voices-outline .senior-other-voice-content{
	padding: 60px 0 50px 0;
	& .slider-head{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
		& .title{
			font-size: 18px;
			font-weight: 700;
		}
		& .arrow_box{
		  display: flex;
		  align-items: center;
		  justify-content: flex-end;
			gap: 10px;
		  margin: 0;
		  position: relative;
			& .prev-arrow,.next-arrow {
			  display: block;
			  width: 46px;
			  height: 46px;
			  background: rgba(0,18,94,0.10);
			  border-radius: 50%;
			  transition: all .3s ease;
			  cursor: pointer;
			  position:relative;
			}
			& .prev-arrow {
			  transform: rotate(180deg);
			}
			& .prev-arrow::before,.next-arrow::before{
				position:absolute;
				content: "";
				width: 12px;
				height: 12px;
				border-right: 1.5px solid;
				border-top: 1.5px solid;
				top:0;
				bottom:0;
				left:-5px;
				right:0;
				margin:auto;
				transform:rotate(45deg);
			}
		}
	}
	& .btn-bace-round{
		text-align: center;
		& a.back{
			color: g.$white;
		}

	}
	@media only screen and (min-width: g.$desktop-breakpoint-md){
		& .btn-bace-round .btn-setting {
			padding: 18px 94px 18px 30px;
			& a{
				font-size: 16px;
			}
		}
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		& .slider-head{
			margin-bottom: 60px;
			& .arrow_box{
				gap: 20px;
				& .prev-arrow,.next-arrow{
					width: 60px;
					height: 60px;
				}
			}
		}
	}
}
//----services-subpage-slider------
.services-subpage-slider{
	& li{
		aspect-ratio: 3 / 2;
		width: 100%;
		height: 100%;
		border-radius: 8px;
		overflow: hidden;
		margin-bottom: 2px;
		& img{
			display: inline-block;
			aspect-ratio: 3 / 2;
			object-fit: cover;
		}
	}
	& .slick-slide{
		margin-right: 5px;
		margin-left: 5px;
	}
	//dotsを丸くカスタマイズするCSS
	& .dots-wrap {
		display: flex;
		justify-content: center;
		& li{
			width: 8px;
			height: 8px;
			margin: 0 5px;
			background: #CBCBCB;
			border-radius: 50%;
			cursor: pointer;
			&:hover, &.slick-active{
				background: g.$primary;
			}
			& button{
				display: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				outline: none;
				padding: 0;
				border: none;
				background-color: transparent;
			}
		}
	}

}






// -----------------
//　投稿ページ共通
//--------------------

.main-ounded-content{
	background-color: g.$white;
    border-radius: 20px;
    overflow: hidden;
	padding: 40px 0;
	@media only screen and (min-width: g.$desktop-breakpoint-md){
		padding: 60px 0;
	}
	@media only screen and (min-width: g.$desktop-breakpoint-xl){
		padding: 80px 0;
	}
}
//ページネーション　クラスがわからないので、後でやる
//.wp-pagenavi{
//	text-align: center;
//	font-size: 14px;
//    font-weight: 700;
//	color: g.$primary;
//	& a{
//		display: inline-block;
//		width: 35px;
//		height: 35px;
//		background-color: g.$white;
//	}
//}













