// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;

.badge {

  position: relative;
  border: solid 1px g.$black;
  background-color: g.$black;
  border-radius: 3px;
  padding: 5px;
  @include m.font-jp-base-500;

  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    padding: 5px;
  }

  &.badge-important {
    position: relative;
    border: solid 1px #F58888;
    background-color: g.$white;
    color: #F58888;
    border-radius: 3px;
    padding: 5px;
    @include m.font-jp-base-500;
    margin-right: 10px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      padding: 5px;
      margin-right: 15px;
    }
  }
}