// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;

// 
.hero-wrap {
    position: relative;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 175px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
        margin-bottom: 175px;
    }

    .hero-inner {
        position: relative;
        width: 100%;
    }

    .hero-title {
        width: 30.4%;
        position: absolute;
        left: 20px;
        bottom: 0;
        z-index: 2;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
			width: 30.4%;
            left: 0;
            bottom: 0;
		}
    }
}

.greeting-bg {
    width: 100%;
    height: calc(100% - 15%);
    position: absolute;
    left: 0;
    top: 15%;
    z-index: 1;
    background: linear-gradient(
        to bottom,
        rgba(#E6F7F6, 1.0)   0%,
        rgba(#FAF8F5, 1.0) 100%
    );
}

.pickup {
    position: relative;
    z-index: 2;
    &__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
      @media only screen and (min-width: g.$desktop-breakpoint-md) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        margin-bottom: 175px;
      }
    }
    
    &__card {
      
      text-decoration: none; // リンクの下線消し
      color: inherit;
      transition: all 0.5s ease-in;
      position: relative;
      width: 100%;
      height: 100%;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background: rgba(#B0A89B, 0);
        mix-blend-mode: multiply;
        transition: all 0.3s ease;
    }
      
    figure {
        position: relative;
        margin: 0;
        overflow: hidden;
        
        img {
          display: block;
          width: 100%;
          height: auto;
          transition: transform 0.3s ease;
        }
        
        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;            
            text-align: center;
            color: g.$white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s ease;
            height: 40%;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(
                to bottom,
                rgba(#B0A89B, 0)   0%,
                rgba(#B0A89B, 0.8) 100%
                );
                mix-blend-mode: multiply;
            }
        }

        .cardtext {
            position: relative;
            z-index: 2;
            @include  m.font-jp-lg-600;
        }
        
    }

        &:hover {
            img {
                transform: scale(1.1);
            }

            figcaption {
                background: transparent;
            }

            &:after {
                background: rgba(#B0A89B, 1);
            }
        }
    }
}

.greeting {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    //padding: 2rem 1rem;
    //gap: 2rem;
    position: relative;
    padding-right: 8.5%;
    padding-top: 0;
    z-index: 2;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
        padding-bottom: 175px;
    }
  
    &__content {
        width: 37.5%;
    }
  
    &__title {
        @include  m.font-jp-lg-300;
        margin-bottom: 1rem;
        border-bottom: solid 1px #80D8D0;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {

        }
    }
  
    &__text {
      @include  m.font-jp-body-300;
      margin-bottom: 1.5rem;
      color: #333;
      
    }
  
    &__link {
      @include  m.font-jp-body-400;
      display: inline-flex;
      align-items: center;
      color: #B0A89B;
      text-decoration: none;
      transition: color 0.3s ease;
  
      span {
        margin-left: 0.5ch;
      }
  
      &:hover,
      &:focus {
        color: darken(#B0A89B, 10%);
      }
    }
  
    &__message {
      width: calc(100% - 37.5%);
      @media only screen and (min-width: g.$desktop-breakpoint-md) {
        padding-left: 50px;
      }
    }
  
    &__message-title {
      @include m.font-en-lg;
      margin-bottom: 0;
      letter-spacing: 0;
      color: #B3E8E3;
      
    }
  
    &__image {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      border-radius: 8px;
    }

    &__message-textimg {
        position: absolute;
        right: 0;
        top: 0;
    }
}
  
.menu-banners {
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
    }
    &__item {
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            
        }
    }
}

.medical-subject {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
        margin-top: 55px;
    }
  }
  
  .medical-subject-acc {
    overflow: hidden;
    margin-bottom: 20px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
        margin-bottom: 20px;
    }

    &__header {
    position: relative;
    padding: 30px 20px;
    cursor: pointer;
    user-select: none;
    background-color: #80D8D0;
    @include m.font-jp-lg-300;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
        padding: 60px 30px;
    }
  
      &::before {
        content: "メニューをひらく";
        display: block;
        @include m.font-jp-body-400;
        color: g.$black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            right: calc(30px + 24px + 30px);
        }
      }
  

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        background-image: url(../img/common/ico_acc_open.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 24px;
        height: 24px;
        transition: transform 0.3s ease;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            right: 30px;
        }
      }
    }
  

    &.is-open > .medical-subject-acc__header {
      &::before {
        content: "メニューをとじる";
      }
      &::after {
        content: "";
        transform: translateY(-50%) rotate(0deg);
        background-image: url(../img/common/ico_acc_close.svg);
      }
    }
  
    &__panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;
        background-color: #F1F7F7;
        
    }
  
    &.is-open > .medical-subject-acc__panel {
      min-height: 100px;
      height: 100% !important;
      max-height: 100% !important;
      display: block;
      padding: 0 15px 0;
      @media only screen and (min-width: g.$desktop-breakpoint-md) {
        padding: 0 20px 0;
      }
    }

    .treatment-category {
        margin: 0 0 48px;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            margin: 0 0 48px;
        }

        &__title {
          @include m.font-jp-md-400;
          position: relative;
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          @media only screen and (min-width: g.$desktop-breakpoint-md) {
              margin-bottom: 20px;
          }
  
          &:before {
              content: "";
              background-color: #80D8D0;
              border-radius: 50rem;
              width: 8px;
              height: 8px;
              margin-right: 10px;
          }
        }
    
        &__grid {
          display: grid;
          grid-template-columns: 1fr;
          gap: 0;
          margin: 0;
          padding: 0;
          list-style: none;
          @media only screen and (min-width: g.$desktop-breakpoint-md) {
              grid-template-columns: repeat(3, 1fr);
              gap: 16px 40px;
          }
        }
    
        &__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 3px;
          background: g.$white;
          border-radius: 3px;
        }
    
        &__link {
          @include m.font-jp-body-500;
          display: flex;
          align-items: center;
          color: #3EBCB0;
          text-decoration: none;
          transition: all 0.3s ease;
          position: relative;
          width: 100%;
          padding: 0 25px 0 15px;
          height: 45px;
          @media only screen and (min-width: g.$desktop-breakpoint-md) {
              padding: 0 35px 0 20px;
              height: 70px;
          }
          .ico-arrow-right {
              background-image: url(../img/common/ico_arrow_right_green.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              width: 6px;
              height: 12px;
              position: absolute;
              right: 20px;
              top: 50%;
              transform: translateY(-50%);
              transition: all 0.3s ease;
          }
          
          &:hover {
            //transform: translateX(4px);
            background-color: #80D8D0;
            color: g.$black;
  
            .ico-arrow-right {
              background-image: url(../img/common/ico_arrow_right_black.svg);
            }
          }
        }

        &__text {
            .font-sm {
                @include m.font-jp-body-500-sm;
            }
        }
    }
}

.schedule-section {
    background-color: #FAF8F5;
}

.clinic-schedule {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
        
    }

    &__left {
        width: 100%;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            width: 40%;
        }
    }

    &__right {
        width: 100%;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            width: calc(100% - 40%);
            padding-left: 5%;
        }
    }

    &__title {
        padding: 0 0 24px;
        @include m.font-jp-lg-300;
        border-bottom: solid 1px g.$black;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            padding: 0 0 24px;
        }
    }

    &__list {
        width: 100%;
        position: relative;
        margin-bottom: 50px;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            margin-bottom: 50px;
        }
    }

    &__block {
        width: 100%;
        border-bottom: solid 1px g.$black;
        padding: 24px 0;
        color: g.$black;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            padding: 24px 0;
        }
    }

    &__month {
        @include  m.font-jp-body-400;
    }

    &__detail {
        @include  m.font-jp-body-300;
    }
}

.news-section {
    background-image: url(../img/top/bg_news.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.clinic-news {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    background-color: g.$white;
    box-shadow: 4px 4px 10px rgba(g.$black,0.05);
    border-radius: 3px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
        padding: 45px;
    }

    &__list {
        width: 100%;
        position: relative;
        margin-bottom: 0;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            margin-bottom: 0;
        }
    }

    &__item {
        width: 100%;
        border-bottom: solid 1px #B2B2B2;
        padding: 0 0;
        color: g.$black;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            padding: 0 0;
        }
    }

    &__block {
        text-decoration: none;
        display: block;
        position: relative;
        padding: 24px 30px 24px 0;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            padding: 24px 40px 24px 0;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-image: url(../img/common/ico_arrow_right_black.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 12px;
            height: 12px;
            transition: transform 0.3s ease;
            @media only screen and (min-width: g.$desktop-breakpoint-md) {
                right: 0;
            }
        }

        &:hover {
            text-decoration: none;
        }
        
    }

    .pin-icon {
        width: 11px;
        margin-right: 15px;
        line-height: 1;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            margin-right: 15px;
        }

        svg {
            path {
                fill: #3EBCB0
            }
        }
    }

    &__date {
        font-family: g.$font-ibm-plex-sans;
        color: #B2B2B2;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            font-size: 14px;
            margin-bottom: 15px;
        }
    }

    &__title{
        @include  m.font-jp-body-400;
    }
}

.sns-section {

}

.clinic-sns {
    width: 100%;
    position: relative;

    &__block {
        border-bottom: solid 0.5px g.$black;
        padding: 30px 0;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            padding: 55px 0;
        }

        &:last-child {
            border-bottom: solid 0 g.$black;
        }
    }

    &__subtitle {
        @include  m.font-en-md;
        margin-bottom: 15px;
        text-align: center;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            margin-bottom: 20px;
        }
    }

    &__introtext {
        @include  m.font-jp-body-300;
        margin-bottom: 30px;
        text-align: center;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            margin-bottom: 45px;
        }
    }

    .yt-youtube-list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            margin-bottom: 20px;
        }
    }

    &__box {
        margin-bottom: 30px;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            margin-bottom: 55px;
        }
    }

}

