// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;


//
.thanks-page-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
    background-color: #F4F3E9;

    .thanks-headding {
        font-family: "Noto Serif JP", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        margin-bottom: 30px;
        color: #B4910C;
        text-align: center;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            font-size: 26px;
            margin-bottom: 40px;
        }
    }

    .thanks-text {
        text-align: center;
        width: calc(100% - 40px);
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 30px;
        color: #4C4C4C;
        line-height: 1.8;
        @include m.mx-auto;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
            font-size: 15px;
            margin-bottom: 40px;
        }
    }

    .link-back-text {
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
        a {
            font-size: 17px;
            font-family: "Noto Serif JP", serif;
            font-weight: 500;
            color: #4C4C4C;
        }
    }
}