// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;

.site-header {
	background: g.$white;
    font-family: g.$font-noto-sans;

	&__inner {
		//max-width: 1200px;
        width: 100%;
		margin: 0 auto;
		padding: 0 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		height: 60px;
        @media only screen and (min-width: g.$desktop-breakpoint-md) {
			padding: 0 24px;
            height: 88px;
		}
	}

	&__skip {
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		color: g.$white;
		padding: 8px;
		font-size: 14px;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		white-space: nowrap;
		width: 1px;
		z-index: 1000;
		&:focus {
			clip: auto;
			clip-path: none;
			width: auto;
			height: auto;
		}
	}

	&__logo {
		width: 150px;
		height: auto;
		line-height: 1;
		display: flex;
		align-items: center;
		
		@media only screen and (min-width: g.$desktop-breakpoint-md) {
			width: 200px;
		}
		@media only screen and (min-width: g.$desktop-breakpoint-lg) {
			width: 200px;
		}
		@media only screen and (min-width: g.$desktop-breakpoint-xl) {
			width: 248.55px;
		}

		a {
			padding: 0;
			margin: 0;
		}

		img {
			vertical-align: bottom;
		}
	}

	&__toggle {
		display: block;
		position: absolute;
		opacity: 0;
		width: 1px;
		height: 1px;
		overflow: hidden;
		pointer-events: none; 

		&:checked {
			// メニュー開閉
			~ .site-header__nav {
			  transform: translateX(0);
			}
			// ハンバーガー→×
			+ .site-header__toggle-label {
			  span:nth-child(1) {
				transform: translateY(8px) rotate(45deg);
			  }
			  span:nth-child(2) {
				opacity: 0;
				transform: translateX(-20px);
			  }
			  span:nth-child(3) {
				transform: translateY(-5px) rotate(-45deg);
			  }
			}
		}
		
		@media only screen and (min-width: g.$desktop-breakpoint-lg) {
			display: none;
		}
	}

	&__toggle-label {
		display: block;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1000;

		@media only screen and (min-width: g.$desktop-breakpoint-lg) {
			display: none;
		}

		cursor: pointer;
		span {
			display: block;
			width: 24px;
			height: 2px;
			margin: 4px 0;
			background: g.$black;
			transition: transform 0.3s ease, opacity 0.3s ease;
      		transform-origin: center;
		}
	}

	&__nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: g.$white;
		transform: translateX(-100%);
		transition: transform 0.3s ease;
		@media only screen and (min-width: g.$desktop-breakpoint-lg) {
			position: relative;
			top: auto;
			left: auto;
			width: auto;
			background: transparent;
			transform: translateX(0);
		}
			
		ul {
			display: flex;
			align-items: center;
			list-style: none;
			margin: 0;
			padding: 0;
			flex-direction: column;
			@media only screen and (min-width: g.$desktop-breakpoint-lg) {
				flex-direction: row;
			}
			
		}
		& .site-header__item {
			margin: 16px 0;
			text-align: center;
			@media only screen and (min-width: g.$desktop-breakpoint-md) {
				text-align: left;
				margin: 0 0;
				margin-left: 15px;
			}
			@media only screen and (min-width: g.$desktop-breakpoint-lg) {
				margin-left: 20px;
			}
			@media only screen and (min-width: g.$desktop-breakpoint-xl) {
				margin-left: 26px;
			}
			.site-header__itemlink {
				text-decoration: none;
				font-size: 14px;
				color: g.$black;
                font-weight: 400;
				position: relative;
				@media only screen and (min-width: g.$desktop-breakpoint-md) {
					font-size: 12px;
				}
				@media only screen and (min-width: g.$desktop-breakpoint-lg) {
					font-size: 13px;
				}
				@media only screen and (min-width: g.$desktop-breakpoint-xl) {
					font-size: 14px;
				}
				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: -2px;
					width: 0;
					height: 2px;
					background: #80D8D0;
					transition: width 0.3s ease;
				}

				&:hover,
				&:focus {
					//color: #007acc;
                    color: g.$black;
                    font-weight: 500;

					&::after {
						width: 100%;
					}
				}
			}

			&__button {
				@media only screen and (min-width: g.$desktop-breakpoint-md) {
					margin-right: 10px;
				}
			}

			&.site-header__social {
				@media only screen and (min-width: g.$desktop-breakpoint-md) {
					&:last-child {
						margin-left: 10px;
					}
				}
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: #F0F0F0;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					line-height: 1;
					svg {
						width: 18px;
						height: auto;
					}
				}
			}
			.button--primary {
				padding: 10px 20px;
				background: #CCEFEC;
				color: g.$black;
				border-radius: 50rem;
                font-size: 14px;
                transition: all 0.3s ease-in;
                line-height: 1;
                vertical-align: middle;
                text-decoration: none;

				&:hover,
				&:focus {
					background: #80D8D0;
                    //font-weight: 500;
				}
			}
		}
	}
}
